.Map {
    position: relative;
    z-index: 2;
}
.MapPage_MarkerNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.459);
    font-size: 11px;
    color:white;

}
.testy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border:2px dotted white;
    border-radius: 50%;
}