.Map {
    position: relative;
    z-index: 2;

}
.MapPage_Marker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:rgba(109, 170, 16, 0.863);
    font-size: 8px;
    color:rgb(255, 255, 255);
    direction: ltr;
    cursor: pointer;
    transition: all 0.1s ease;
}
.MapPage_Marker:hover {
    background-color:#268b08 ;
    transition: all 0.1s ease;
}
.MarkerBlue {
    color:white;
    background-color:rgba(15, 179, 255, 0.863);
}
.MarkerBlue:hover {
    background-color:rgb(11, 111, 241);
}
.MarkerRed {
    color:white;
    background-color: rgba(253, 17, 17, 0.781);
}
.MarkerRed:hover {
    background-color: rgba(226, 13, 13, 0.918);
}
.MapPage_MarkerLabel {

}
.MapPage_MarkerNumber {
    margin-top:3px;
}
.testy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid rgb(180, 180, 180);
    box-shadow: 1px 1px 1px 1px rgb(158, 158, 158);
}