.shaypoorThemePostMapList{
    --boxshadowFadeMPPost :#4fddb017;
    --colorMPPost : #29D3B2;
    --background-colorMPPost: #afeedaa1;
    --background-colorMP :#C9FCF5; 
    --background-hovermP: #afeeda3b;
}
.twitterThemePostMapList{
    --boxshadowFadeMPPost :#3dbff31a;
    --colorMPPost : #3DC0F3;
    --background-colorMPPost: #b1e7fc7a;
    --background-colorMP :#e4f5ff; 
    --background-hoverMP: #b1e7fc33;
}
.rssThemePostMapList{
    --boxshadowFadeMPPost :#f9b30318;
    --colorMPPost : #F9B503;
    --background-colorMPPost: #f8e1a896;
    --background-colorMP : #faf4dd;
    --background-hoverMP: #f8e1a836;
}
.telegramThemePostMapList{
    --boxshadowFadeMPPost :#5b75f721;
    --colorMPPost : #5B76F7;
    --background-colorMPPost: #b9c5ff96;
    --background-colorMP :#def3fd; 
    --background-hoverMP: #b9c5ff3a;
}
.newsPaperThemePostMapList{
    --boxshadowFadeMPPost :#f75b5b21;
    --colorMPPost : #f75b5b;
    --background-colorMPPost: #ffb9b996;
    --background-colorMP :#fddede; 
    --background-hoverMP: #ffb9b93a;
}
.headAccMapPost{
    width: 100% !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
}
.extenKPCo{
    width: 100% !important;
    padding: 0px !important;
    display: flex;
    align-items: center;
}
.back{
    padding: 0px 10px 0px 0px !important;
}
.extenKPCo div{
    margin-left: 30px;
}
.holerepeatListKPMapBox{
    text-align: center;
    display: flex;
    align-items: center;
    width: 200px;
    padding-right: 5px;
}
.keyContainerLPMP{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.holerepeatListKPMapBox h4{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
}
.holerepeatListKPMapBox span{
    font-size: 11px;
}
.kpACCcoMapBox{

    border-radius: 17px !important;
    box-shadow: 1px 1px 10px 1px #2729492c !important;
}

.firstRadListItemMapBox{
    border-top-left-radius:0px !important;
    margin-top: -11px !important;
    box-shadow: 1px 7px 12px 1px #a4a6b82c !important;
    border-top-right-radius:0px !important;
}



.locationAvatarListShow{
    color: white;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
}
.locationAvatarStyle1{
    background: rgb(147,195,226);
    background: linear-gradient(180deg, rgba(147,195,226,1) 0%, rgba(129,175,222,1) 0%, rgba(103,145,216,1) 17%, rgba(102,144,216,1) 29%, rgba(85,125,213,1) 51%, rgba(72,110,210,1) 100%);
}
.locationAvatarStyle2{
    background: rgb(241,217,149);
background: linear-gradient(220deg, rgba(241,217,149,1) 0%, rgba(239,189,120,1) 16%, rgba(238,170,101,1) 30%, rgba(237,154,84,1) 41%, rgba(233,111,38,1) 100%);
}
.locationAvatarStyle3{
    background: rgb(187,224,127);
    background: linear-gradient(220deg, rgba(187,224,127,1) 0%, rgba(153,204,96,1) 14%, rgba(135,194,80,1) 26%, rgba(113,182,60,1) 51%, rgba(98,173,46,1) 66%, rgba(90,143,64,1) 100%)
}
.locationAvatarStyle4{
    background: rgb(190,113,207);
background: linear-gradient(220deg, rgba(190,113,207,1) 0%, rgba(130,76,196,1) 51%, rgba(73,48,176,1) 100%);
}
.HeaderInfListMapPost{
    display: flex;
    background-color: var(--background-colorMP);
    min-width: 120px;
    border-radius:30px;
    padding:4px 5px;
    align-items: center;
}
.headInfSocialMapPost{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 6px;
    margin-right: -24px;
    text-align: right;
    justify-content: right;
}
.headInfSocialMapPost h4{
    margin: 0px;
    font-size: 11px;
    font-weight: bold;
    color: #272949;
    margin-bottom: -1px;
}
.headInfSocialMapPost span{
    color: #A2AAB2;
    font-size: 9px;
}
.headIconSocialMapPost{
    color: white;
    background-color: var(--colorMPPost) !important;
    padding: 6.5px;
    font-size: 13px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.marginRigthMPListItemHead{
    margin-right: 190px;
}
@media screen and (max-width: 1250px) {   
    .headAccMapPost{
        width: 1000px !important;
    }
    .marginRigthMPListItemHead{
        margin-right: 0px;
    }
    .kpACCcoMapBox{
        box-shadow: 1px 1px 20px 1px #86868d17 !important;
    }
}

@media screen and (max-width: 1050px) { 
    .headAccMapPost{
        width: 900px !important;
    }
    .marginRigthMPListItemHead{
        margin-right: -100px;
    }
    .kpACCcoMapBox{
        box-shadow: 1px 1px 40px 1px #ececec17 !important;
    }
}@media screen and (max-width: 930px) { 
    .headAccMapPost{
        width: 800px !important;
    }
    .marginRigthMPListItemHead{
        margin-right: -50px;
    }
    .kpACCcoMapBox{
        box-shadow: 1px 1px 40px 1px #ececec17 !important;
    }
    .holerepeatListKPMapBox{
        width: 130px;
    }
    .holerepeatListKPMapBox h4{
        font-size: 12.5px;
    }
    .holerepeatListKPMapBox span{
        font-size: 10px;
    }
    .keyContainerLPMP{
        margin-left: 60px !important;
    }
    .locationAvatarListShow{
        height: 35px;
        font-size: 17px;
        width: 35px;
    }
    .HeaderInfListMapPost{
        min-width: 50px;
        width: 95px !important;
    }
    .headInfSocialMapPost h4{
        font-size: 10px;
    }
    .headIconSocialMapPost{
        width: 27px;
        height: 27px;
    }
}
@media screen and (max-width: 820px) { 
    .headAccMapPost{
        width: 700px !important;
    }
    .marginRigthMPListItemHead{
        margin-right: -70px;
    }
    .extenKPCo > div{
        margin-left: 10px;
    }
}
@media screen and (max-width: 720px) { 
    .headAccMapPost{
        width: 600px !important;
    }
    .marginRigthMPListItemHead{
        margin-right: -60px;
    }
    .extenKPCo > div{
        margin-left: 10px;
    }
    .HeaderInfListMapPost{
        min-width: 50px;
        padding: 3px 5px;
        width: 75px !important;
    }
    .headInfSocialMapPost h4{
        font-size: 9px;
    }
    .headInfSocialMapPost span{
        font-size: 7px;
    }
    .headIconSocialMapPost{
        width: 23px;
        height: 23px;
    }
    .headAccMapPost{
        height: 30px !important;
    }
}

@media screen and (max-width: 620px) { 
    .headAccMapPost{
        width: 500px !important;
    }
    .locationAvatarListShow{
        height: 30px;
        font-size: 14px;
        width: 30px;
    }
    .holerepeatListKPMapBox h4{
        font-size: 12px;
    }
    .holerepeatListKPMapBox span{
        font-size: 9px;
    }
    .marginRigthMPListItemHead{
        margin-right: -140px;
    }
}
@media screen and (max-width: 520px) { 
    .headAccMapPost{
        width: 400px !important;
    }
    .locationAvatarListShow{
        height: 23px;
        font-size: 12px;
        width: 23px;
    }
    .holerepeatListKPMapBox{
        width: 120px;
    }
    .holerepeatListKPMapBox h4{
        font-size: 10px;
    }
    .holerepeatListKPMapBox span{
        font-size: 7px;
    }
    .marginRigthMPListItemHead{
        margin-right: -110px;
    }
    .headIconSocialMapPost{
        background-color: none !important;
        padding: 3px;
        height: 17px;
        width: 17px;
        margin-top: 1px;
    }
    .HeaderInfListMapPost{
        min-width: 50px;
        padding: 1px 3px;
        width: 50px !important;
    }
    .headInfSocialMapPost h4{
        font-size: 7px;
        margin-bottom: 4px;
        margin-right: -3px;
    }
    .headInfSocialMapPost span{
        display: none;
    }
    .headAccMapPost{
        height: 20px !important;
    }
}

@media screen and (max-width: 420px) { 
    .headAccMapPost{
        width: 370px !important;
    }
    
    .HeaderInfListMapPost{
        margin: -5px;
    }
    .marginRigthMPListItemHead{
        margin-right: -125px;
    }
}

@media screen and (max-width: 370px) { 
    .headAccMapPost{
        width: 400px !important;
    }
    .holerepeatListKPMapBox{
        margin-right: 70px !important;
        padding: 0px !important;
    }
    .HeaderInfListMapPost{
        margin: -4px;
    }
    .marginRigthMPListItemHead{
        margin-right: -180px;
    }
    .locationAvatarListShow{
        display: none;
    }
    .headInfSocialMapPost h4{
        font-size: 6px;
        margin-bottom: 5px;
        margin-right: -3px;
    }
    .headIconSocialMapPost{
        background-color: none !important;
        padding: 2px;
        height: 12px;
        width: 12px;
        margin-top: 1px;
    }
    .HeaderInfListMapPost{
        min-width: 45px;
        padding: 0px 3px;
        width: 45px !important;
    }
    
}