.DA5_Box {
    background-color: white;
    height: 400px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding:5px 8px;
}
.DA5_BoxH {
    flex:0.45;
    background-color: azure;
    border-radius: 10px;
    display: flex;
    position: relative;
    padding-left: 30px;
    /*clip-path: ellipse(81% 100% at 81% 0%);*/

}

.DA5_BoxF {
    flex:0.55;
}
.DA5_BoxH_low {
    background-color: #4498ff1f;
    
}
.DA5_BoxH_medium {
    background-color: #55ff7d1f;
}
.DA5_BoxH_high {
    background-color: #ffa14f21;
}
.DA5_BoxH_veryHigh {
    background-color: rgba(255, 95, 95, 0.144);
}
.DA5_BoxHR {
    flex:0.5;
    display: flex;
    flex-direction: column;
    padding-right:30px;
    align-items: right;
}
.DA5_BoxHL {
    flex:0.5;
}

.DA5_BoxHR_Icon {
    width: 70px;
    height: 55px;
    border-radius: 15px;
    margin-top:20px;
}
.DA5_BoxH_lowIcon {
    background-color: #6C9EFF;
    
}
.DA5_BoxH_mediumIcon {
    background-color: #A0EEA3;
}
.DA5_BoxH_highIcon {
    background-color: #FFB171;
}
.DA5_BoxH_veryHighIcon {
    background-color: rgb(252, 70, 70);
}

.DA5_BoxHR_Number {
    font-size:25px;
    font-weight: bold;
    margin-top:20px;
}
.DA5_BoxHR_Title {
    margin-top:5px;
    font-size: 12px;
    color:rgb(170, 170, 170);
    padding-right:2px;
}

.DA5_BoxF {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    column-gap: 40px;
    row-gap: 20px;
    padding: 5px;
    margin-top:40px;
}
.DA5_Header_boxMaskTexture {
    position:absolute;
    width: 100%;
    height: 100%;
    opacity: 0.35;
}
.DA5_Header_boxmediumTexture {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='300' height='180' preserveAspectRatio='none' viewBox='0 0 300 180'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1046%26quot%3b)' fill='none'%3e%3cpath d='M-13.24 14.87C27.7 15.31 70.91 50.27 144.23 59.87 217.56 69.47 189.21 174.11 222.97 192.94' stroke='rgba(50%2c 224%2c 57%2c 0.3)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-16.35 75.54C11.63 74.79 28.62 30.59 87.67 34.14 146.73 37.69 149.44 168.93 191.7 188.35' stroke='rgba(50%2c 224%2c 57%2c 0.3)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-28.61 114.05C1.15 111.99 19.12 53.1 74.89 54.65 130.67 56.2 137.62 180.69 178.4 197.44' stroke='rgba(50%2c 224%2c 57%2c 0.3)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-52.64 27.43C-15.78 28.2 21.51 69.48 85.95 77.83 150.39 86.18 126.76 169.81 155.24 183.46' stroke='rgba(50%2c 224%2c 57%2c 0.3)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-15.28 30.38C14.75 33.05 22.44 86.03 86.45 95.18 150.46 104.33 154.11 183.1 188.18 190.07' stroke='rgba(50%2c 224%2c 57%2c 0.3)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1046'%3e%3crect width='300' height='180' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.DA5_Header_boxhighTexture {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='300' height='180' preserveAspectRatio='none' viewBox='0 0 300 180'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1170%26quot%3b)' fill='none'%3e%3cpath d='M-56.7 59.39C-32.6 59.55-9.84 81.89 37.02 81.89 83.88 81.89 75.1 54.2 130.74 59.39 186.38 64.58 185.79 184.83 224.46 203.64' stroke='rgba(224%2c 160%2c 50%2c 0.28)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-3.27 97.59C36.79 97.32 89.17 57.85 152.44 59.79 215.7 61.73 196.51 175.65 230.29 195.28' stroke='rgba(224%2c 160%2c 50%2c 0.28)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-46.06 61.92C-12.07 62.3 9.75 94.76 84.55 99.72 159.35 104.68 173.12 202.27 215.16 209.18' stroke='rgba(224%2c 160%2c 50%2c 0.28)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-22.57 130.41C10.25 129.87 38.2 88.67 102.05 89.01 165.9 89.35 187.54 180.71 226.67 186.23' stroke='rgba(224%2c 160%2c 50%2c 0.28)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-33.66 65.23C4.95 64.67 34.44 16.35 113.53 18.43 192.62 20.51 207.89 166.46 260.72 181.41' stroke='rgba(224%2c 160%2c 50%2c 0.28)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1170'%3e%3crect width='300' height='180' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.DA5_Header_boxlowTexture {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='300' height='180' preserveAspectRatio='none' viewBox='0 0 300 180'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1139%26quot%3b)' fill='none'%3e%3cpath d='M233.06-6.54C186.21 12.27 177.22 154.72 113.41 156.14 49.61 157.56 28.79 85.23-6.23 82.34' stroke='rgba(50%2c 155%2c 224%2c 0.21)' stroke-width='2'%3e%3c/path%3e%3cpath d='M254.95-17.38C214.6-13.63 197 65.52 118.94 70.81 40.87 76.1 20.74 135.65-17.08 137.41' stroke='rgba(50%2c 155%2c 224%2c 0.21)' stroke-width='2'%3e%3c/path%3e%3cpath d='M217.74-16.39C189.12-5.55 200.5 80.68 143.51 80.96 86.53 81.24 34.11 32.97-4.94 32.36' stroke='rgba(50%2c 155%2c 224%2c 0.21)' stroke-width='2'%3e%3c/path%3e%3cpath d='M250.09-3.97C213.97-3.61 186.25 32.36 110.87 34.65 35.49 36.94 11.39 109.51-28.35 112.05' stroke='rgba(50%2c 155%2c 224%2c 0.21)' stroke-width='2'%3e%3c/path%3e%3cpath d='M268.1-6.48C234.97 3.9 227.56 97.21 177.97 99.18 128.38 101.15 132.91 76.68 87.85 76.68 42.78 76.68 20.94 99.01-2.28 99.18' stroke='rgba(50%2c 155%2c 224%2c 0.21)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1139'%3e%3crect width='300' height='180' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.DA5_Header_boxveryHighTexture {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='300' height='180' preserveAspectRatio='none' viewBox='0 0 300 180'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1122%26quot%3b)' fill='none'%3e%3cpath d='M179.54-8.46C147.58 12.88 166.87 125.84 108.72 127.97 50.57 130.1 3.97 86.99-32.92 86.57' stroke='rgba(224%2c 50%2c 50%2c 0.21)' stroke-width='2'%3e%3c/path%3e%3cpath d='M246.97-6.12C206.9-1.95 181.35 84.45 113.77 84.62 46.2 84.79 15.72 40.22-19.42 39.62' stroke='rgba(224%2c 50%2c 50%2c 0.21)' stroke-width='2'%3e%3c/path%3e%3cpath d='M170.08-22.6C149.63-19.62 164.45 21.96 105.26 28.7 46.07 35.44 14.38 111.26-24.38 115.1' stroke='rgba(224%2c 50%2c 50%2c 0.21)' stroke-width='2'%3e%3c/path%3e%3cpath d='M243.98-34.35C204.19-29.21 193.37 53.36 115.57 61.91 37.77 70.46 25.2 141.22-12.84 144.71' stroke='rgba(224%2c 50%2c 50%2c 0.21)' stroke-width='2'%3e%3c/path%3e%3cpath d='M190.82-29.9C162-21.88 153.74 57.28 110.21 58.54 66.68 59.8 69.9 36.04 29.59 36.04-10.71 36.04-30.1 58.33-51.02 58.54' stroke='rgba(224%2c 50%2c 50%2c 0.21)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1122'%3e%3crect width='300' height='180' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}