.DA5 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
    margin-top:10px;
    overflow-x: hidden;
}

@media screen and ( max-width : 1142px ) {
    .DA5 {
        grid-template-columns:  auto auto;
        padding:10px 0px;
        column-gap: 40px;
        row-gap: 10px;

    }
}
@media screen and ( max-width : 643px ) {
  .DA5 {
      grid-template-columns: auto;
      padding:10px 0px;
      column-gap: 40px;
      row-gap: 10px;

  }
}