.KP_Header {
    flex:0.2;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-direction: column;
    font-family: "Shabnam";
    position: relative;
    height: 330px;

}
.KP_TopHeader > h3 {
    font-size: 18px;
    font-weight: bold;
}
.KP_TopHeader > p {
    font-size: 9.5px;
}
.KP_TopHeader {
    flex:0.5;
    height: 100px;
    background-color: #29294A;
    width: 100%;
    color:white;
    padding:12px 90px;
}
.KP_FooterHeader {
    flex:0.5;
}
.KP_BottomHeader {
    position: absolute;
    bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    padding:0px 50px;
}