.KP_Header {
    flex:0.3;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-direction: column;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.KP_TopHeader {
    flex:0.8;
    height: 100px;
    background-color: #29294A;
    width: 100%;
}
.KP_BottomHeader {
    flex:0.2;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
}