.KP_Header_box {
    height: 160px;
    width: 200px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow:3px 3px 6px 2px rgba(0, 0, 0, 0.336);
}

.KP_TopSlider_instagram {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.KP_TopSlider_telegram{
    background:linear-gradient(120deg, #0088cc, #d9eef8);
}
.KP_TopSlider_twitter{
    background:linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f5f8fa);
}
.KP_TopSlider_rss {
    background:linear-gradient(120deg, #f26522, #eca27f);
}

.KP_typeIconContainer {

    position:absolute;
    color:white;
    background-color: white;
    font-size: 25px;
    top:-30%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid white;

}
.KP_Icon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left:9px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.KP_HeaderBox_Header {
    height: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-left:7px;
    margin-top:7px;
    padding-bottom:5px;
}
.KP_HeaderBox_DataResultContainer {
    display: flex;
    font-size: 11px;
    margin-top: 10px;
    border-top:1px solid rgb(235, 235, 235);
    padding-top:8px;
    color:rgb(134, 134, 134);
}
.KP_HeaderBox_TodayResult {
    flex:0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.KP_HeaderBox_WeekResult {
    flex:0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right:1px solid rgb(235, 235, 235);
}
.KP_HeaderBox_dataNumber {
    margin-top: 5px;
    font-size: 14px;
    color:rgb(245, 10, 69);
    font-weight: bold;
}
.KP_Header_TopSlider_chart {
    margin-right:6px;
    display: flex;
    align-items: right;
    justify-content: right;
    width:100%;
    padding:0px;
    margin-bottom: 2px;
    margin-top: auto;
}