.KP_Header_box {
    height: 230px;
    width: 220px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:3px 3px 6px 2px rgba(0, 0, 0, 0.336);
}
.KP_Header_box_Instagram {
    background: rgb(255,228,254);
    background: linear-gradient(180deg, rgba(255,228,254,1) 0%, rgba(255,255,255,1) 41%);
}
.KP_Header_box_Telegram {
    background: rgb(205,237,253);
    background: linear-gradient(180deg, rgba(205,237,253,1) 0%, rgba(255,255,255,1) 41%);
}
.KP_Header_box_Twitter {
    background: rgb(182,235,255);
    background: linear-gradient(180deg, rgba(182,235,255,1) 0%, rgba(255,255,255,1) 41%);
}
.KP_Header_box_Rss{
    background: rgb(255,244,225);
    background: linear-gradient(180deg, rgba(255,244,225,1) 0%, rgba(255,255,255,1) 41%);
}

.KP_TopSlider_instagram {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.KP_TopSlider_telegram{
    background:linear-gradient(120deg, #0088cc, #d9eef8);
}
.KP_TopSlider_twitter{
    background:linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f5f8fa);
}
.KP_TopSlider_rss {
    background:linear-gradient(120deg, #f26522, #eca27f);
}

.KP_typeIconContainer {
    flex:0.2;
    color:white;
    font-size: 25px;
    top:-30%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;

}
.KP_HeaderBox_TitleSource {
    font-size: 12px;
    color:#29294A;;
    font-weight: bold;
    margin-right:16px;
    margin-top:9px;
}
.KP_Icon {
    border-radius:5px;
    width: 35px;
    height: 35px;
    margin-right:13px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;

}

.KP_HeaderBox_Header {
    height: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-left:7px;
    margin-top:7px;
    padding-bottom:5px;


}
.KP_HeaderBox_DataResultContainer {
    display: flex;
    font-size: 11px;
    margin-top: 10px;
    padding-top:8px;
    color:#29294A;
}
.KP_HeaderBox_TodayResult {
    flex:0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    font-size: 11px;
    font-weight: bold;
    padding-right: 15px;
    border-bottom: 1px solid  rgb(235, 235, 235);
    margin-top:35px;
    padding-bottom: 14px;
}
.KP_TodayResultFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}
.KP_HeaderBox_raise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:0.4;
    color:rgb(113, 238, 113);
    font-size: 13px;
    margin-left:13px;
}
.KP_HeaderBox_raise > span {
    color:#29294A;;
    font-size: 10px;
}
.KP_Fall {
    color:rgb(245, 96, 96);
}
.KP_Box_raiseIcon {
    font-size: 18px;
    font-weight: bold;
}
.KP_HeaderBox_raise > span {
    margin-left:7px;
    margin-top:3px;
}
.KP_HeaderBox_WeekResult {
    flex:0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    font-size: 11px;
    font-weight: bold;
    padding-right: 10px;
    margin-top:14px;
    padding-top:6px;
}
.KP_HeaderBox_dataNumber {
    margin-right: 3px;
    font-size: 13px;
    color:#29294A;;
    font-weight: bold;
}
.KP_Header_TopSlider_chart {
    margin-right:6px;
    display: flex;
    align-items: right;
    justify-content: right;
    width:100%;
    padding:0px;
    margin-bottom: 2px;
    margin-top: auto;
}