.KP_Header {
    flex:0.4;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-direction: column;
    border-bottom: 1px solid rgb(224, 224, 224);
    font-family: "Shabnam";


}
.KP_TopHeader > h3 {
    font-size: 18px;
    font-weight: bold;
}
.KP_TopHeader > p {
    font-size: 9.5px;
}
.KP_TopHeader {
    flex:0.9;
    height: 100px;
    background-color: #29294A;
    width: 100%;
    color:white;
    padding:12px 90px;
}
.KP_BottomHeader {
    flex:0.1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    padding:0px 50px;
}