.DA7 {
    margin-top:10px;

}


.DA7_ChartContainer {
    background-color: white;
    padding: 0px 17px;
    border-radius: 6px;
}
.DA7_Users {
    margin-top:20px;

    display: grid;
    grid-template-columns:  auto auto auto auto;
    column-gap: 10px;
    row-gap: 20px;
}