.PSR_Sidebar {
    flex : 0.23;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: var(--PSR_SidebarColor);
    transition: all 0.5s ease;

}
.PSR_Sidebar_Icons {
    flex:0.15;
    display: flex;
    flex-direction: column;
    margin-right:7px;
    margin-top:40px;
}
.PSR_Sidebar_Icon {
    font-size: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    width: 50px;
    height: 50px;
    border : 2px solid white;
    border-radius: 15px;
    color:rgb(255, 255, 255);
    padding: 4px;
    cursor: pointer;
    transition: all 0.7s ease;
}
.PSR_instagram {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.PSR_twitter {
    background:linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f5f8fa);
}
.PSR_rss{
    background:linear-gradient(120deg, #f26522, #eca27f);
}
.PSR_telegram {
    background:linear-gradient(120deg, #0088cc, #d9eef8);
}
.PSR_icon_select {
    width: 65px;
    height: 65px;
    font-size: 42px;
    transition: all 0.7s ease;
}

@media screen and (max-width : 1279px) {
    .PSR_Sidebar{
        display: none;
    }
    
}