.KP_Body_Widgets {
    flex:0.25;
}
.TopKeywoardWidget{
    background-color: #FFFFFF;
    margin: auto 0px;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 1px rgba(214, 214, 214, 0.4) , -5px -5px 20px 1px rgba(214, 214, 214, 0.4);
    padding:20px 20px;
}
.TopKeywoardWidget h6{
    color: rgb(71, 71, 71);
    margin-right:10px;
    margin-bottom: 20px;
}
.TopKeywoardWidget .MuiChip-root{
    background-color: #764ee3;
    color : white;     
    font-size: 10px;  
    height: 28px;
}
.TopKeywoardWidget .MuiChip-root:focus{
    background-color: #8d6de6;
}
.TopKeywoardWidget .MuiChip-deleteIcon{  
    color : #E8E4F1;
}
.TopKeywoardWidget .MuiChip-deleteIcon:hover{
    color : #ebe6ffa9;
}


@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");



.Widget_3Keywords {
  background: #FFFFFF;
  height: 470px;
  margin: 0 auto;
  margin-left:15px;
  border-radius: 5px;
  position: relative;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.rightbox {
  width: 100%;
  height: 93%;
  padding: 0px;
  margin-top: 10px;
  overflow-y: scroll;
}


.rb-container {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 7px 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  min-height: 50px;
  border-right: 1px dashed rgb(148, 147, 147);
  padding: 0 0 30px 0px;
  margin-right: 20px;
  position: relative;
  font-family: "Shabnam";
  font-size: 12px;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  right: -10px;
  top: -5px;
  content: " ";
  border: 4px solid white;
  border-radius: 500%;
  background: #50d890;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
  border-color: #2f6e0a;
  transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
  color: #50d890;
  position: relative;
  width: 150px;
  font-size: 12px;
  direction: ltr;
  margin-right:20px;
}

.item-title {
  color: rgb(71, 71, 71);
  display: flex;
  margin-top:10px;
  justify-content: space-between;
  align-items: center;
  width: 96%;

}
.rb-item {
    width: 100%;
}
.rb {
    width: 100%;
    margin:0px;
}

.KP_Widget_ItemGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:0.25;
    border-left:1px dashed rgb(216, 216, 216);
}
.KP_Widget_LastItem {
    margin-left: 0px;
    border:none;
}
.item-title > span {
    margin-top: 3px;
}
.container-3 {
  vertical-align: right;
  white-space: nowrap;
  margin:auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-3 input#search {
  width: 150px;
  height: 30px;
  background: #fbfbfb;
  border: none;
  font-size: 10pt;
  color: #262626;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 15px rgba(119, 119, 119, 0.5);
}

.container-3 .icon {
  margin: 1.3em 3em 0 31.5em;
  position: absolute;
  width: 150px;
  height: 30px;
  z-index: 1;
  color: #4f5b66;
}

input::placeholder {
  padding: 5em 5em 1em 1em;
  color: #50d890;
}


.KPWidget_HeaderIcons {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    color:#ffffff;
    margin-top:10px;
}


.KPWidgetIcon {
    padding:4px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    margin-left:58px;
}
.KPWidget_telegramIcon {
    background:linear-gradient(120deg, #0088cc, #d9eef8);
}
.KPWidget_instgramIcon {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.KPWidget_twitterIcon {
    background:linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f5f8fa);
    margin-left:28px;
}
.KPWidget_rssIcon {
    background:linear-gradient(120deg, #f26522, #eca27f);

}

.TelegramColor {
    color:#36D8FF;
}
.InstagramColor {
    color:#e1306c;
}
.TwitterColor {
    color:#00ACEE;
}
.RssColor {
    color:#f26522;
}


    