.test{
    background-color: cadetblue;
    height: 240px;
    border : black solid 1px;
}
.posts{
    width: 700px;
    grid-column-gap:10px;
    grid-row-gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
}