.KP_BF_chart {
    flex:0.3;
    background-color: #29294A;
    border-radius: 4px;
}
.KP_BF_chart_SourceContainer {
    display: flex;
    width: 100%;
    color:white;
}
.KP_BF_chart_Source {
    flex:0.25;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.Chartborder-right {
    border-right:1px solid grey;
}
.KP_BF_chartSourceTitle {
    font-size: 13px;
}
.KP_BF_chartSourceNumber{
    margin-top:10px;
    font-size: 15px;
    font-weight: bold;
}
.KP_chartNumberTelegram {
    color: #36D8FF;
}
.KP_chartNumberInstagram{
    color: #c13584;
}
.KP_chartNumberTwitter {
    color: #0088cc;
}
.KP_chartNumberRss{
    color: #f26522;
}
.arrow_box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3px;
}

.ChartHoverInstagram {
    color: #c13584;
}
.ChartHoverTwitter {
    color: #0088cc;
}
.ChartHoverRss {
    color: #f26522;
}
.ChartHoverTelegram {
    color: #36D8FF;
}
.ChartHoverItem {
    display: flex;
    justify-content: space-between;
    font-size: 11.5px;
    font-weight: 600;
    margin-top:4px;
    background-color: white;
}
.ChartHoverItem img {
    margin-right:5px;
}