.KP_Body_Feed {
    flex:0.75;
    display: flex;
    flex-direction: column;
}
.KP_BF_list {
    flex:0.7;
}
.KP_BF_Main {
    margin-top:20px;
}
.KP_Sort_Search{
    display: flex;
    justify-content: space-between;
    background-color: none;
    align-items: center;
}
.postListDivKP{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.indexPostListItemKP{
    margin-top: -10px;
    margin-bottom: 8px;
}
.indexPostListItemKP span {
    padding: 0px;
    border-bottom: 2px solid #b09aec8c;
    padding-bottom: 5px;
}
.indexPostListItemKP:first-child{
    margin-right: 20px;
}