.headAccKP{
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 25px !important;
    display: flex !important;
    align-items: center !important;
}
.extenKPCo{
    width: 100% !important;
    padding: 0px !important;
    display: flex;
    align-items: center;
}
.back{
    padding: 0px 10px 0px 0px !important;
}
.extenKPCo div{
    margin-left: 30px;
}
.holerepeatListKP{
    text-align: center;
    width: 80px;
    padding-right: 5px;
}
.keyContainerLP{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.holerepeatListKP h4{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.holerepeatListKP span{
    font-size: 11px;
}
.kpACCco{
    border-radius: 14px !important;
    box-shadow: 4px 4px 20px 5px rgba(214, 214, 214, 0.24)  !important;
}
.instagram_NumACCHead{
    color:#e1306c;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 67px;
    border-radius: 14px;
    padding: 5px 3px;
    font-size: 16px;
}
.firstRadListItem{
    border-top-left-radius:0px !important;
    margin-top: -11px !important;
    border-top-right-radius:0px !important;
}
.numShowHList span{
    font-size: 14px;
    padding-top: 2.3px;
    margin: 0px;
}
.numShowHList {
    border-radius: 10px !important;
}
.twitter_NumACCHead
{
    color:#00ACEE;
    text-align: center;
    display: flex;
    align-items: center;justify-content: space-evenly;
    width: 67PX;
    border-radius: 14px;
    padding: 5px 3px;
    font-size: 16px;
}
.rss_NumACCHead
{   
    color:#f26522;
    text-align: center;
    display: flex;
    align-items: center;justify-content: space-evenly;
    width: 67px;
    border-radius: 14px;
    padding: 6px 3px;
    font-size: 14px;
}
.telegram_NumACCHead
{
    color:#36D8FF;
    text-align: center;
    display: flex;
    align-items: center;justify-content: space-evenly;
    width: 67px;
    border-radius: 14px;
    padding: 5px 3px;
    font-size: 16px;
}
.sumNumKPlist{
    margin-right: 30px;
    text-align: center;
    min-width: 140px;
}

.openExtentionBtn{
    margin-right:40px;
}
.extBtnKP{
    background-color: #764ee3 !important;
    color: white !important;
    border-radius: 12.3px !important;
    font-size: 10px !important;
    padding: 5px 12px!important;
    font-weight: bold !important;
    margin-left: 0px !important;
}
.searchBtnKP{
    background-color: #812020 !important;
    color: white !important;
    border-radius: 12.3px !important;
    font-size: 10px !important;
    padding: 5px 12px!important;
    font-weight: bold !important;
}
