.headAccKP{
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
}
.extenKPCo{
    width: 100% !important;
    padding: 0px !important;
    display: flex;
    align-items: center;
}
.back{
    padding: 0px 10px 0px 0px !important;
}
.extenKPCo div{
    margin-left: 30px;
}
.holerepeatListKP{
    text-align: center;
    width: 80px;
    padding-right: 5px;
}
.keyContainerLP{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.holerepeatListKP h4{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.holerepeatListKP span{
    font-size: 11px;
}
.kpACCco{
    border-radius: 14px !important;
    box-shadow: 4px 4px 20px 5px rgba(214, 214, 214, 0.24) , -5px -5px 20px 1px rgba(214, 214, 214, 0.2) !important;
}
.instagram_NumACCHead{
    background:linear-gradient(45deg, #405ce6c5, #5851dbbe, #833ab4c0, #c13584d0, #e1306bd7, #fd1d1d83);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 67px;
    border-radius: 14px;
    padding: 3px 2px;
    font-size: 17px;
}
.numShowHList span{
    font-size: 11px;
    padding-top: 2px;
    margin: 0px;
}
.twitter_NumACCHead
{
    background:linear-gradient(45deg, #67b8f1e8, #00abeee1, #36D8FF, #b6dcf3);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 67PX;
    border-radius: 14px;
    padding: 3px 2px;
    font-size: 17px;
}
.rss_NumACCHead
{
    background:linear-gradient(120deg, #f26422d8, #eca17fd3);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 67px;
    border-radius: 14px;
    padding: 3px 2px;
    font-size: 14px;
}
.telegram_NumACCHead
{
    background:linear-gradient(120deg, #0088ccd2, #b1dff5e3);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 67px;
    border-radius: 14px;
    padding: 3px 2px;
    font-size: 17px;
}
.sumNumKPlist{
    margin-right: 50px;
    min-width: 140px;
}

.openExtentionBtn{
    margin-right:40px;
}
.extBtnKP{
    background-color: #764ee3 !important;
    color: white !important;
    border-radius: 12.3px !important;
    font-size: 10px !important;
    padding: 7px 12px!important;
    font-weight: bold !important;
    margin-left: 0px !important;
}
.searchBtnKP{
    background-color: #e34e4e !important;
    color: white !important;
    border-radius: 12.3px !important;
    font-size: 10px !important;
    padding: 7px 12px!important;
    font-weight: bold !important;
}
