.SortsTwitter {
    display: flex;
    direction: rtl;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    box-shadow : 1.0px 1.4px 2px 0.4px rgb(226, 226, 226) !important;
}
.SortsTwitter p{
    padding : 0px;
    font-size: 13px;
    color: rgb(61, 61, 61);
    margin: 0px 5px;
}
.sortIconTwitter{
    font-size: 23px;
    color: rgb(61, 61, 61);
}