.PSR_Sort{
    display: flex;  
    align-items: center;
    justify-content: right;
    width: 100%;
    direction: ltr;

}
.togSort{
    flex:0.3;
    border-radius: none !important;
    height: 30px;
}
.selectSort{
    width: 100px;
    border-radius: 0px !important;   
}
.sortSelectBtn{
    border-radius:3px !important;
    background-color: white !important;
    font-size: 12px !important;
    padding: 4px !important;
    margin: 0px 5px !important;
    box-shadow : 1.0px 1.4px 2px 0.4px #E4E0F5 !important;
}
.PSR_Sortasas{
    display: flex;
    direction: rtl;
    align-items: center;
    background-color:var(--postTheme);
    border-radius: 3px;
    box-shadow:2px 3px 8px 0.3px var(--PSR_PostBoxShadow);
}
.sortIconRss{
    font-size: 23px;
    color: #764ee3;
}
.PSR_Sortasas p{
    padding : 0px;
    font-size: 13px;
    color: var(--PSR_PostTextColor);
    margin: 0px 5px;
}
@media screen  and (max-width :760px){ 
    .togSort {
        display: none !important;
    }
    .SortsRss {
        justify-content: right;
    }
}
@media screen  and (max-width :573px){ 
    .SortItems {
        display: none;
    }
}
.hi10{
    font-size: 12px !important;
    color:white !important;
}
.menuButtonRssSort{
    font-size: 12px !important;
}

.PSR_menuButton {
    color:var(--PSR_PostTextColor) !important;
}