
.PolstList_news_text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px !important;
    margin-top:12px !important;
}
.PostList_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items : center;
    padding-bottom: 15px;

}
.PostList_date {
    flex : 0.4;
    align-self: flex-start;
    padding : 0px;
    margin: 0px;
    font-size: 13px;
    text-align: left;
    margin-left:10px;
    align-self: center;
}

.PostList_keywords {
    display: flex;
    align-items: center;

}
.PostList_keywords_title{
    font-size: 13px;
    margin:0px;
    padding:0px;
}
.PostList {

}
.PostListCard:hover {
    cursor:pointer;
    background-color: rgb(241, 241, 241);
    transition: all 0.4s ease;
}

.PostList_title {
    font-size: 13px;
    flex : 0.57;
}

@media screen and (max-width : 887px) {
    .PostList_date {
        font-size: 12px;
    }
    .PostList_keywords_title{
        font-size: 12px;
    }
    .PostList_title {
        font-size: 14px !important;
    }
}

@media screen and (max-width : 843px)  {
     
}