.Posts{
  display: flex;
  flex-wrap: wrap;
  margin-right:20px;
  justify-content: space-between;
  flex:0.8;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
  height: 100%;


}
.Posts::-webkit-scrollbar {
    display: none;
  }
