.Posts{
  flex:0.8;
  display: flex;
  flex-wrap: wrap;
  margin-right:20px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}
.Posts::-webkit-scrollbar {
    display: none;
  }
