.hottagIcon{
    color : #764ee3;
    font-size: 17px;
    margin-left:5px;
}
.webSiteHotItem span{
    font-size: 13px;
}

@media screen and (max-width : 961px) {
    .hottagIcon {
        font-size: 13px;
    }
    .webSiteHotItem span{
        font-size: 10px;
    }
}