.acc{
    padding: 0px !important;
    
}
.margin{
    border-radius: 10px !important;
    margin-top : 10px !important;
    border: none !important;
    outline: none !important;
    box-shadow : 1.0px 1.4px 2px 0.4px rgb(238, 238, 238) !important;
}