.acc{
    padding: 0px !important;
    
}
.margin{
    border-radius: 10px !important;
    margin-top : 10px !important;
    border: none !important;
    outline: none !important;
}
.boxShadowAcc{
    box-shadow : 0.0px 0.3px 2px 0.3px rgb(220 , 220 , 220) !important;
}
.fontAccardion{
    font-size: 14px !important;
}
.margin hr{
    border: none;
    border-top: 1px solid rgb(218, 218, 218);
    margin: 3px 10px;
    height: 0px;
}