.accPS{
    padding: 0px !important;
    margin: 0px !important;
}
.marg{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
.marginPS{
    margin-top : 5px !important;
    border: none !important;
    color : white !important;
    outline: none !important;
    background-color: #2D2C56 !important;

}
.marginPSwhite{
    margin-top : 5px !important;
    border: none !important;
    color : black !important;
    outline: none !important;
    background-color: white !important;
}
.fontAccardionPS{
    font-size: 14px !important;
}
.extentionPSLIneTelegram{
    border: none;
    border-top: 2px solid #1E96D2;
    margin: 3px 10px;
    height: 0px;
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
}
.extentionPSLIneRss{
    border: none;
    border-top: 2px solid #EF824E;
    margin: 3px 10px;
    height: 0px;
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
}
.extentionPSLIneTwitter{
    border: none;
    border-top: 2px solid #36D8FF;
    margin: 3px 10px;
    height: 0px;
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
}
.extentionPSLIneInstagram{
    border: none;
    border-top: 2px solid #9938A3;
    margin: 3px 10px;
    height: 0px;
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
}
.marginPS hr{
}