.accPS{
    padding: 0px !important;
    margin: 0px !important;
    background-color: #2D2C56 !important;
}
.marg{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
.marginPS{
    margin-top : 5px !important;
    border: none !important;
    color : white !important;
    outline: none !important;
    background-color: #2D2C56 !important;
}
.fontAccardionPS{
    font-size: 14px !important;
}
.extentionPSLIneInstagram{
    border: none;
    border-top: 2px solid #1E96D2;
    margin: 3px 10px;
    height: 0px;
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
}
.marginPS hr{
}