.Hashtag2Container {
    /*font-size:9px;
    color:rgb(133, 133, 133);
    background-color: rgb(248, 248, 248);
    padding: 3px 3px;*/
    border-radius: 3px;
}
.Hashtag2Span {
    color : var(--PSR_PostTextColor)
}