.HashtagDiv {
    /*font-size: 7px !important;
    height: 17px !important;
    border-radius: 3px !important;
    background-color: #EFEBF9 !important;
    color: #7556DB !important;
    font-weight: bold;*/
    border-radius: 3px ;
    background-color: var(--Hashtag1);

}
.HashtagDiv > span {
    padding: 3px;
    margin:0px;
}