.Tag {
    padding:4px 9.5px;
    display: flex;
    height: 20px;
    background-color: purple;
    border-radius : 15px;
    align-items:center;
    color:white;
    margin-left:10px;

}
.Tag  p {
    text-align: center;
    color : rgb(241, 241, 241);
    font-family: 'Shabnam'; 


}