.toggleBtnFilter{
    background-color: white !important;
    padding:0px !important;
    color: rgb(78, 78, 78) !important;
    height: 40px !important;
    margin: 10px !important;
    width: 20px !important;
    border-radius: 10px !important;
    font-size: 20px !important;
    box-shadow : 0.0px 1.0px 2px 0.3px rgb(196, 195, 195) !important;
}
.drawerRss{
    height: 100% !important;
}