.toggleBtnFilterPS{
    position: absolute !important;
    bottom: 11.5px !important;
    right: 10px !important;
    padding:0px !important;
    color: white !important;
    height: 30px !important;
    font-size: 20px !important;
    display: none !important;
}
.toggleBtnFilterPSSort{
    position: absolute !important;
    bottom: 10px !important;
    right:10% !important;
    padding:0px !important;
    color: white !important;
    height: 30px !important;
    font-size: 24px !important;
    display: none !important;

}
.drawerRss{
    height: 100% !important;
}

@media screen and (max-width : 1279px) {
    .toggleBtnFilterPS{
        display: block !important ;
    }
}
@media screen and (max-width : 528px) {
    .toggleBtnFilterPS{
        display: none !important ;
    }
    .toggleBtnFilterPSSort{
        display: block !important;
        right:17% !important;
    }
}
@media screen and (max-width : 480px) {
    .toggleBtnFilterPSSort{
        right:14% !important;
        bottom:9px !important;
    }
}
@media screen and (max-width : 438px) {
    .toggleBtnFilterPSSort{
        right:12% !important;
        bottom:9px !important;
    }
}
    
@media screen and (max-width : 414px) {
    .toggleBtnFilterPSSort{
        right: 6% !important;
        font-size: 22px !important;
        bottom: 8px !important;
    }

}
@media screen and (max-width : 363px) {
    .toggleBtnFilterPSSort{
        right: 1% !important;
 
    }

}
    