.WebsitePreview {
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0.4px 3px 1px rgb(235, 235, 235) !important;
    border-radius: 4px;
    padding-top:9px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.WebsitePreview::-webkit-scrollbar {
    display: none;
}


.WebsitePreview_header {
    display: flex;
    align-items: center;
    justify-content: right;
    margin:10px;
}

.WebsitePreview_avatar{
    height: 120px !important;
    width: 120px !important;
}
.WebsitePreview_title{
    margin-top:10px;
}

.WebsitePreview_avatar{
    border: 4px solid white;

}

.WebsitePreview_buttonContent {
    display: flex;
    align-items: center;

}

.WebsitePreview_buttonContent > p {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 15px;
}
.WebsitePreview_button {
    width: 230px !important;
    height: 41px !important;
    border-radius: 25px !important;
    background-color: #ff891b !important;
}
.WebsitePreview_buttonIcon{
    margin-left: 3px !important;
}

.WebsitePreview_chart {
    margin-top:20px !important;
    border-top : 1px solid rgb(231, 226, 226) !important;
}

.WebsitePreview_chartContent2 {
    margin-top : 200px !important;
    background-color: red !important;
}

.WebsitePreview_chart2 {
    margin-right:25px !important;
}