.DP_Footer {
    flex:0.32;
}
.DPF_HeaderBar {
    width: 100%;
    height: 15px;
    position: relative;
    display: flex;
    margin-top: 5px;
    border-radius: 5px;
}

.DPF_HeaderRss {
    background-color: rgb(255, 187, 0);
    height: 100%;
}
.DPF_HeaderTelegram {
    background-color: rgb(0, 238, 255);
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.DPF_HeaderInstgaram {
    background-color: rgb(252, 133, 252);
    height: 100%;
}
.DPF_HeaderTwitter {
    background-color: rgb(0, 174, 255);
    height: 100%;
}
.DPF_HeaderPaper {
    background-color:rgb(156, 236, 176);
    height: 100%;
}
.DPF_HeaderSheypoor {
    background-color: rgba(0,132,255,1);
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.DPF_Data {
    display: flex;
    height: 100%;
}
.DPF_Biggest {
    flex:0.17;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.DPF_BiggestData {
    display: flex;
    flex-direction: column;
    color:#8D93A9;
    font-size:12px;
    margin-top:20px;
}
.DPF_BiggestPerc {
    color:#4266E4;
    font-size: 30px;
    margin-top:20px;
}
.DPF_all {
    flex:0.83;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 120px;
    row-gap: 30px;
    justify-content: space-between;
    padding:20px;
}
.DPF_Source {
    display: flex;
    border-left:1px solid rgba(13, 24, 87, 0.185);
    padding:0px 17px;
    height: 30px;
    justify-content: center;

}
.DPF_SourceData {
    display: flex;
    flex-direction: column;
    margin-right:8px;
    margin-top:2.5px;
}
.DPF_Icon {
    width: 30px;
    height: 30px;
}
.DPF_SourceDataTitle {
    color:#8D93A9;
    font-size:11.5px;
}
.DPF_SourceDataNumber {
    font-weight: bold;
    font-size: 11px;
    margin-top:4px;
}
.DPF_HeaderTitle {
    color:#838CB4;
    font-size: 17px;
    margin-top:8px;
    margin-right:20px;
    display: flex;
    justify-content: space-between;
}
.DPF_HeaderTitle > span {
    padding-top:3px;
}
.DPF_HeaderButton {
    background-color: #2E58F8;
    border-radius: 14px;
    padding:7px 62px;
    font-size: 11px;
    color:white;
    margin-left:20px;
    cursor: pointer;
}

@media screen and (max-width : 1300px) {
    .DPF_all {
        grid-template-columns: auto auto auto auto;
    }
}
@media screen and (max-width : 1060px) {
    .DPF_all {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width : 827px) {
    .DPF_all {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width : 447px) {
    .DPF_all {
        flex:1;
    }
    .DPF_Biggest {
        display: none;
    }
}