.Rss{
    height:100%;
    overflow-y: hidden;
    display: flex;
}
.RssContainer{
    flex:0.8;
    display: flex;
    justify-content: space-between;
    height:100%;
    flex-direction: column;
    overflow-y: hidden;
    padding: 0px 20px;
}
.filterSearch{
    direction: ltr;
    flex:0.05;
    display: flex;
}
.siteFilterSwitch{
    padding: 10px 0px;
}
.siteFilterSwitch:hover{
    background-color: rgb(235, 235, 235);
}
