.Rss{
    height:100%;
    overflow-y: hidden;
    display: flex;
}
.RssContainer{
    flex:0.8;
    display: flex;
    justify-content: space-between;
    height:100%;     
    overflow-x: hidden;   
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0px 20px;
}
@media screen and (max-width : 1279px) {
    .RssContainer{
        flex:1;
    }
    
}
.RssContainer::-webkit-scrollbar {
    display: none;
}
.siteFilterSwitch{
    padding: 10px 0px;
}
.siteFilterSwitch:hover{
    background-color: rgb(235, 235, 235);
}

.filterSearch {
    border-bottom: 1px solid rgba(221, 218, 218, 0.808) ;
    padding-bottom: 10px;
} 
@media screen and (max-width: 992px) {
    .Filters {
      flex:0.0;
    }
    .RssContainer{
        flex: 1;
        overflow-x: auto;
    }
  }
