.Twitter{
    height:100%;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
}
.TwitterContainer{
    flex:0.56;
    display: flex;
    justify-content: space-between;
    height:100%;     
    overflow-x: hidden;   
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0px 20px;
}
@media screen and (max-width : 1279px) {
    .RssContainer{
        flex:1;
    }
    
}
.TwitterContainer::-webkit-scrollbar {
    display: none;
}

.TwitterfilterSearch {
    border-bottom: 1px solid rgba(221, 218, 218, 0.808) ;
    padding-bottom: 10px;
} 
@media screen and (max-width: 992px) {
    .Filters {
      flex:0.0;
    }
    .RssContainer{
        flex: 1;
        overflow-x: auto;
    }
  }

  @media screen  and (max-width :760px){ 
    .SortsRss {
        justify-content: right;
    }
}
