.DA4 {
    height: 315px;
    display: flex;
    margin-top:10px;
    justify-content: space-between;
}

.DA4_LeftChart {
    flex:0.29;
    background-color: white;
}
.DA4_RightChartContainer {
    background-color: white;
    flex:0.7;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}
.DA4_Header {
    padding:3px 17px;
    border:none;
}
.DA4_LeftHeader {
    font-size: 12px;
    padding: 1px 15px;
    padding-top:10px;
    border:none;
}
.DA4_LeftChartContainer {
    position: relative;
    height: 160px;
    margin-top:10px;
}
.DA4_LeftChartNumber {
    position: absolute;
    right:39.5%;
    top:67%;
    font-size:22px;
    font-weight: bold;
    color:#00E396;
}
.DA4_LeftChartFooter {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top:20px;
}
.DA4_LCFooterItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.DA4_LeftChartDescribe {
    padding:0px 15px;
    color:rgb(185, 185, 185);
    font-size:10px;
}
.DA4_LCFooterItemTitle {
    font-size:12px;
    font-weight: bold;

}
.DA4_LCFooterItemNumber {
    direction: ltr;
    font-size: 11px;
    color:rgb(179, 179, 179);
    margin-top:10px;
}