.KP_Body_Feed {
    flex:0.75;
    display: flex;
    flex-direction: column;
}
.KP_BF_list {
    flex:0.7;
}
.KP_BF_Main {
    margin-top:20px;
}
.KP_Sort_Search{
    display: flex;
    justify-content: space-between;
    background-color: none;
    align-items: center;
}
.postListDivKP{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.indexPostListItemKP{
    margin-top: -10px;
    margin-bottom: 8px;
}
.indexPostListItemKP span {
    padding: 0px;
    margin-right: 5px;
    font-size: 12.5px;
    border-bottom: 2px solid #b09aec8c;
    padding-bottom: 3px;
}
.indexPostListItemKP:first-child{
    margin-right: 20px;
}
.listIndex_KPList{
    padding: 0px;
    color: #29294A; 
    border-radius: 14px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 4px;
    background-color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 13px;
    margin-right: 0px;
    padding-right: 8px;
    margin-top: 10px;
}
.listIndex_KPList span{
    font-size: 12px;
}
.KPWidgetIcon_index{
    padding:4px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    color: white;
    align-items: center;
    margin-bottom: -2px;
}
.KPWidget_shaypoorIconMapBox{
    color: #4FDDAF;
    font-size: 25px;
    margin-left: 2px;
}
.KPWidget_twitterIconMapBox{
    color: #3DC0F3;
    font-size: 25px;
}
.KPWidget_rssIconMapBox{
    background-color: #F9B503;
    color: white;
    border-radius: 50%;
    font-size: 25px;
    padding: 3px;
    height: 22px;
    width: 22px;
    margin-left: 2px;
}
.KPWidget_telegramIconMapBox{
    color: #5B76F7;
    margin-left: 3px;
}
.KP_PostShowMapBox{
    display: flex;
    position: relative;
    width: 100%;
    padding: 5px 20px;
    border-bottom: 2px solid var(--background-colorKPPost);
    margin-bottom: 2px;
    cursor: pointer;
}
.KP_PostShowMapBox:hover{
    transition: all ease-out 0.3s;
    background-color: var(--background-hover);
}
.instagramThemeKPPostMapBox{
    --boxshadowFadeKPPost :#4fddb017;
    --colorKPPost : #3cc499;
    --background-colorKPPost: #afeedaa1;
    --background-colorKP :#e0ffe7; 
    --background-hover: #afeeda3b;
}
.twitterThemeKPPostMapBox{
    --boxshadowFadeKPPost :#3dbff31a;
    --colorKPPost : #3DC0F3;
    --background-colorKPPost: #b1e7fc7a;
    --background-colorKP :#e4f5ff; 
    --background-hover: #b1e7fc33;
}
.rssThemeKPPostMapBox{
    --boxshadowFadeKPPost :#f9b30318;
    --colorKPPost : #F9B503;
    --background-colorKPPost: #f8e1a896;
    --background-colorKP : #ffefe8;
    --background-hover: #f8e1a836;
}
.telegramThemeKPPostMapBox{
    --boxshadowFadeKPPost :#5b75f721;
    --colorKPPost : #5B76F7;
    --background-colorKPPost: #b9c5ff96;
    --background-colorKP :#def3fd; 
    --background-hover: #b9c5ff3a;
}
.PostCo_KP{
    display: flex;
    align-items: center;
}
.postContent_KP{
    margin-right: 7px;
    width: 400px;

} 
.postContent_KP h5{
    margin: 0px;
    font-weight: bold;
    margin-bottom:3px;
    font-size: 11px;
}

.postContent_KP p{
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3em;
    line-height: 1.5em;
    padding: 0px;
    margin:0px;
    color: rgb(100, 100, 100);
    font-size: 10.5px;
}
.postImageAvatarKP{
    border-radius: 5px !important;
    height: 40px !important;
    width: 40px !important;
    box-shadow : 2px 2px 20px 0px var(--boxshadowFadeKPPost) ,-1px -1px 1px 0px var(--boxshadowFadeKPPost) !important;
}
.poster_KP_Post{
    background-color:var(--background-colorKPPost);
    display: flex;
    min-width: 110px;
    align-items: center; 
    margin: auto 0px;
    height: 28px;
    border-radius: 30px;
    margin-right: 30px;
    margin-left: 20px;
    padding: 0px 3px;
}
.postUserAvatarKP{
    margin-right: 2px !important;
    height: 22px !important;
    width: 22px !important;
    border : 1px solid var(--colorKPPost) !important;
}
.poster_KP_Post h4{
    padding: 0px;
    font-weight: bold;
    margin: 0px;
    padding-top: 1px;
    color: var(--colorKPPost);
    font-size: 8px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.postIcon_KP{
    position: absolute;
    left: 10px;
    font-size: 30px;
    top: 15%;
    color: var(--colorKPPost);
}
.post_KP_topFive{
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 11px;
    margin-right: 38px;
    justify-content: space-evenly;
    width: 240px;
    margin-bottom: 2px;
    text-align: center;
}
.post_KP_topFive div{
    padding:3px 7px;
    margin: 2px 2px;
    text-align: center;
    border-radius: 7px;
    color: white;
    color: var(--colorKPPost);
    background-color: var(--boxshadowFadeKPPost);
}
.KPWidgetIconKP_Post{
    padding:4px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    color: white;
}
