.advancedPS {
    overflow-x: hidden;
    height: 100%;
}

.toggleButtonAndOr .MuiToggleButton-root{
    color: rgb(223, 223, 223) !important;
    border: none !important;
    border-radius: 50px !important;   
    color: rgba(255, 217, 0, 0.89) !important;
    margin: 0px;
    margin-left: 10px !important;
    text-align: center !important;
}
.advancedPSheader{
    font-size: 13px;
}
.advancedPSheader p{
    font-size: 13px;
    height: 0px;
    display: flex;
    align-items: center;
}
.addRuleContainer{
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
    border-top: 1px solid rgba(255, 217, 0, 0.89);
    border-bottom : 2px dashed rgba(255, 217, 0, 0.89);
    width: 65%;
    padding: 10px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-bottom: 5px;

}
.addRuleContainer div{
    margin: 0px 2px;
}
.addFilterLabelPS{
    font-size: 13px;
    color:rgba(255, 217, 0, 0.89);

}
.advancedPSList{
    width: 65%;
    margin: auto;
    height: 40px;

}
.advancedPSlistItem{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size:13px;
    height: 40px;
    padding:20px 0px;
    background-color: rgba(0, 0, 0, 0.26);
    margin-top:3px;
    border-radius: 20px;
}
.advancedPSlistInstagram{ 
    color: #f142a5 !important;
}
.advancedPSlistTwitter{
    color :#44c1ff !important; 
}
.advancedPSlistRss{
    color : #fa7b40;
}
.advancedPSlistTelegram {
    color : #07a5f5;
}
.ruleNameSelect{
    outline: none;
    width: 150px;
    padding: 0px;
    font-size: 15px;
    border: none;
    padding: 10px;
}
.sliderPS{
    width: 200px;
    padding: 10px;
}
.ruleActionSelect{
    font-size: 12px;
    width: 100px;
}
.ruleValueSelect{
    width : 150px;
}

.ruleValueSelect .MuiInputBase-root {
    color:rgba(255, 217, 0, 0.89);
    font-size: 13px;
}
.addPSadvItem .MuiButton-root{
    background-color: rgba(0, 0, 0, 0.267);
    color : rgba(255, 217, 0, 0.89);
    border-radius: 20px;
    width: 100px;
}
.addPSadvItem .MuiButton-root:hover{
    background-color: rgba(0, 0, 0, 0.205);
    color: rgba(255, 217, 0, 0.89);
    opacity: 1;
}
.advancedPSButton{
    background-color: rgba(0, 0, 0, 0.267) !important;
    color: rgba(255, 217, 0, 0.89) !important;;
    margin: 0px 3px !important;
}
.closeIconListItem{
    font-size: 17px;
    color: rgba(255, 217, 0, 0.89) !important;
}
.listCardAdvancedPS{
    width: 70px;
}
.listResualtPS{
    width: 300px;
}
.ruleActionSelect{
    margin: 0px 5px !important;
    margin-right: 20px !important;
}
.valueSelectPopover{
}
.betweenInputsContainer{
    display:flex ;
}
.togglePictureSelect{
    color: rgb(223, 223, 223) !important;
    border: none !important;
    border-radius: 50px !important;
    width: 50px;   
    color: rgba(255, 217, 0, 0.89) !important;
    margin: 0px;
    margin-left: 10px !important;
    text-align: center !important;
}
.s2{
    color:red !important;
    box-shadow: none !important;
}
.h23 {
    color:gold !important;
}
.t2 {
    color:gold !important;
    font-size: 13px !important;
}
.advancedPS .MuiSelect-iconOpen{
    color: rgba(255, 217, 0, 0.89) !important;
}
.advancedPS .MuiSelect-icon{
    color: rgba(255, 217, 0, 0.89) !important;
}

.th3 {
    border-bottom: 1px solid rgba(255, 217, 0, 0.89) !important;
    height: 27px !important;
    font-size: 9px !important;
    margin-top:1px !important;

}
.listCardAdvancedPS {

    border-radius: 0px;
    padding:4px;
    width: 120px;
    margin-right:20px;
    font-size:13px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionTypediv {

    border-radius: 15px;
    background-color: rgba(255, 217, 0, 0.192);
    padding:4px;
    margin-right:30px;
    display: flex;
    height: 28px;
    align-items: center;
    justify-content: center;
    color: rgb(235, 235, 235);
}
.actionTypeInstagram {
    background-color: #c135842f;
}
.actionTypeTwitter{
    background-color :#36d7ff3d !important; 
}
.instagramButtonStyle{
    color: #f142a5 !important;
    background-color: #c135842f !important;   
}
.twitterButtonStyle{
    color :#36D8FF !important; 
}
.actionTypeRss{
    background-color:#f2642238;
}
.actionTypeTelegram { 
    background-color: #0088cc2a;
}
.rssButtonStyle{
    color : #fa7b40;
    background-color:#f2642238;
}
.telegramButtonStyle{
    color : #44c1ff;
    background-color: #0088cc2a;
}
.listResualtPS {
    border-radius: 0px;
    padding:4px;
    margin-right:70px;
    width: 200px;
    display: flex;
    height: 28px;
    align-items: center;
    justify-content: center;
}
.fontSIcon{
    font-size: 18px;
}
@media screen and (max-width: 1050px) { 
    .addRuleContainer{
        width: 70%;
    }   
    .advancedPSList{
        width: 70%;
    }
    .listResualtPS{
        margin-right: 40px;
        margin-left: 50px;
    }
}
@media screen and (max-width : 950px) {
    .addRuleContainer{
        width: 88%;
    }
    .advancedPSList{
        width: 88%;
    }
    .ruleNameSelect{
        width: 100px;
    }
    .listResualtPS{
        margin-right: 30px;
        margin-left: 40px;
    }
}
@media screen and (max-width : 750px) {
    .addRuleContainer{
        width: 90%;
        padding: 0px;
    }
    .advancedPSList{
        width: 90%;
        padding: 0px;
    }
    .ruleNameSelect{
        width: 80px;
    }
    .listResualtPS{
        width: 120px;
        margin-right: 30px;
        margin-left: 30px;
    }
    .dateBetweenPS{
        font-size: 8px !important;
        background-color: #07a5f5;
    }
}
@media screen and (max-width : 600px) {
    .addRuleContainer{
        width: 90%;
        padding: 0px;
    }
    .advancedPSList{
        width: 90%;
        padding: 0px;
    }
    .ruleNameSelect{
        width: 70px;
    }
    .listResualtPS{
        width: 90px;
        margin-right: 30px;
        margin-left: 20px;
    }
    .addPSadvItem .MuiButton-root{
        width: 60px;
    }
    .ruleValueSelect{
        width: 100px;
    }
    .listCardAdvancedPS{
        width: 80px;
        margin-right: 10px;
    }
    .actionTypediv{
        margin-right: 15px;
    }
    .addPSadvItem{
        margin-right:30px !important;
    }
    
    .betweenItemResualt{
        font-size: 11px;
    }
    .listItemResualt{
        font-size: 11px;
    }
}
@media screen and (max-width : 500px) {
    .addRuleContainer{
        width: 100%;
        padding: 0px;
        border: none;
        margin: 0px;
    }
    .advancedPSList{
        width: 100%;
        padding: 0px;
    }
    .ruleNameSelect{
        width: 80px;
    }
    .listResualtPS{
        width: 100px;
        margin-right: 5px;
        margin-left: 10px;
    }
    .ruleValueSelect{
        width: 60px;
    }
    .listCardAdvancedPS{
        width: 80px;
        margin-right: 5px;
    }
    .betweenInputsContainer{
        width: 100px;
    }
    .addPSadvItem .MuiButton-root{
        width: 40px;
        font-size: 10px;
    }
    .actionTypediv{
        margin-right: 15px;
    }
    
    .groupTypeSelect{
        margin-right: -10px !important;
        margin-left: 10px !important;
    }
    .togglePictureSelect{
        font-size: 10px !important;
    }
    
    .betweenItemResualt{
        font-size: 11px;
    }
    .listItemResualt{
        font-size: 11px;
    }
    
}
@media screen and (max-width : 415px) {
    .addRuleContainer{
        width: 100%;
        padding: 0px;
        border: none;
        justify-content: space-around;
        margin: 0px;
    }
    .advancedPSlistItem{
        font-size: 11px;
    }
    .advancedPSList{
        width: 100%;
        padding: 0px;
    }
    .ruleNameSelect{
        width: 100px;
    }
    .listResualtPS{
        width: 80px;
        margin-right: -20px;
        margin-left: 18px;
    }
    .ruleValueSelect{
        width: 60px;
    }
    .listCardAdvancedPS{
        width: 80px;
        margin-right: 0px;
        font-size: 11px;
    }
    .betweenInputsContainer{
        width: 100px;
        margin-left: 10px;
    }
    .addPSadvItem .MuiButton-root{
        width: 40px;
        margin-right: 20px;
        font-size: 10px;
    }
    .actionTypediv{
        margin-right: 0px;
        margin-left: 0px;
        width: 68px;
        font-size: 11px;
    }
    .iconListItemPS{
        margin-left: 6px;
    }
    .addFilterLabelPS{
        display: none;
    }
    .togglePictureSelect{
        margin-left: 10px !important;
    }
    .groupTypeSelect{
        margin-right: -30px !important;
        margin-left: 10px !important;
    }
    .addIconBottonADPS{
        padding: 3px !important;
    }
    .betweenItemResualt{
        font-size: 10px;
    }
    .listItemResualt{
        font-size: 10px;
    }
}