
.toggleButtonAndOr .MuiToggleButton-root{
    color: rgb(223, 223, 223) !important;
    border: none !important;
    border-radius: 50px !important;   
    color: rgba(255, 217, 0, 0.89) !important;
    margin: 0px;
    margin-left: 10px !important;
    text-align: center !important;
}
.advancedPSheader{
    font-size: 13px;
}
.advancedPSheader p{
    font-size: 13px;
    height: 0px;
    display: flex;
    align-items: center;
}
.addRuleContainer{
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
    border-top: 1px solid rgba(255, 217, 0, 0.89);
    border-bottom : 2px dashed rgba(255, 217, 0, 0.89);
    width: 65%;
    padding: 10px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-bottom: 5px;

}
.addRuleContainer div{
    margin: 0px 2px;
}
.addFilterLabelPS{
    font-size: 13px;
    color:rgba(255, 217, 0, 0.89);

}
.advancedPSList{
    width: 65%;
    margin: auto;
    height: 40px;

}
.advancedPSlistItem{
    display: flex;
    align-items: center;

    justify-content: right;
    font-size:13px;
    color: rgba(255, 217, 0, 0.89);
    height: 40px;
    padding:20px 0px;
    background-color: rgba(0, 0, 0, 0.26);
    margin-top:3px;
    border-radius: 20px;
}
.ruleNameSelect{
    outline: none;
    width: 150px;
    padding: 0px;
    font-size: 15px;
    border: none;
    padding: 10px;
}
.sliderPS{
    width: 200px;
    padding: 10px;
}
.ruleActionSelect{
    font-size: 12px;
    width: 100px;
}
.ruleValueSelect{
    width : 150px;
}

.ruleValueSelect .MuiInputBase-root {
    color:rgba(255, 217, 0, 0.89);
    font-size: 13px;
}
.addPSadvItem .MuiButton-root{
    background-color: rgba(0, 0, 0, 0.267);
    color : rgba(255, 217, 0, 0.89);
    border-radius: 20px;
    width: 100px;
}
.addPSadvItem .MuiButton-root:hover{
    background-color: rgba(0, 0, 0, 0.205);
    color: rgba(255, 217, 0, 0.89);
    opacity: 1;
}
.advancedPSButton{
    background-color: rgba(0, 0, 0, 0.267) !important;
    color: rgba(255, 217, 0, 0.89) !important;;
    margin: 0px 3px !important;
}
.closeIconListItem{
    font-size: 17px;
    color: rgba(255, 217, 0, 0.89) !important;
}
.listCardAdvancedPS{
    width: 70px;
}
.listResualtPS{
    width: 300px;
}
.ruleActionSelect{
    margin: 0px 5px !important;
    margin-right: 20px !important;
}
.valueSelectPopover{
}
.togglePictureSelect{
    color: rgb(223, 223, 223) !important;
    border: none !important;
    border-radius: 50px !important;
    width: 50px;   
    color: rgba(255, 217, 0, 0.89) !important;
    margin: 0px;
    margin-left: 10px !important;
    text-align: center !important;
}

.s2{
    color:red !important;
    box-shadow: none !important;

}

.h23 {
    color:gold !important;
}
.t2 {
    color:gold !important;
    font-size: 13px !important;
}
.advancedPS .MuiSelect-iconOpen{
    color: rgba(255, 217, 0, 0.89) !important;
}
.advancedPS .MuiSelect-icon{
    color: rgba(255, 217, 0, 0.89) !important;
}

.th3 {
    border-bottom: 1px solid rgba(255, 217, 0, 0.89) !important;
    height: 27px !important;
    font-size: 9px !important;
    margin-top:1px !important;

}
.listCardAdvancedPS {

    border-radius: 0px;
    padding:4px;
    width: 120px;
    margin-right:20px;
    font-size:13px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionTypediv {

    border-radius: 15px;
    background-color: rgba(255, 217, 0, 0.192);
    padding:4px;
    margin-right:30px;
    display: flex;
    height: 28px;
    align-items: center;
    justify-content: center;
    color: rgb(235, 235, 235);
}

.listResualtPS {

    border-radius: 0px;
    padding:4px;
    margin-right:70px;
    width: 200px;
    display: flex;
    height: 28px;
    align-items: center;
    justify-content: center;
}