
.toggleButtonAndOr .MuiToggleButton-root{
    color: rgb(223, 223, 223) !important;
    border: none !important;
    border-radius: 50px !important;   
    color: rgba(255, 217, 0, 0.89) !important;
    margin: 0px;
    margin-left: 10px !important;
    text-align: center !important;
}
.advancedPSheader{
    font-size: 13px;
}
.advancedPSheader p{
    font-size: 13px;
    height: 0px;
    display: flex;
    align-items: center;
}
.addRuleContainer{
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
    border-top: 1px solid rgba(255, 217, 0, 0.89);
    width: 60%;
    padding: 5px;
    border-radius: 30px;
}
.addRuleContainer div{
    margin: 0px 2px;
}
.addFilterLabelPS{
    font-size: 13px;
    color:rgba(255, 217, 0, 0.89);

}
.advancedPSList{
    width: 70%;
    margin: auto;

}
.advancedPSlistItem{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.199);
    border-bottom: 1px solid rgba(255, 217, 0, 0.356);
    justify-content: right;
    border-radius: 6px;
}
.ruleNameSelect{
    outline: none;
    width: 150px;
    padding: 0px;
    font-size: 15px;
    border: none;
    padding: 10px;
}
.sliderPS{
    width: 200px;
    padding: 10px;
}
.ruleActionSelect{
    font-size: 12px;
    width: 100px;
}
.ruleValueSelect{
    width : 150px;
}
.addPSadvItem .MuiButton-root{
    background-color: rgba(0, 0, 0, 0.267);
    color : rgba(255, 217, 0, 0.89);
    border-radius: 20px;
    width: 100px;
}
.addPSadvItem .MuiButton-root:hover{
    background-color: rgba(0, 0, 0, 0.205);
    color: rgba(255, 217, 0, 0.89);
    opacity: 1;
}
.advancedPSButton{
    background-color: rgba(0, 0, 0, 0.267) !important;
    color: rgba(255, 217, 0, 0.89) !important;;
    margin: 0px 3px !important;
}
.closeIconListItem{
    font-size: 17px;
    color: rgba(255, 217, 0, 0.89) !important;
}
.listCardAdvancedPS{
    width: 70px;
}
.listResualtPS{
    width: 300px;
}
.ruleActionSelect{
    margin: 0px 5px !important;
    margin-right: 20px !important;
}
.valueSelectPopover{
}


.s2{
    color:red !important;
    box-shadow: none !important;

}

.h23 {
    color:gold !important;
}
.t2 {
    color:gold !important;
    font-size: 13px !important;
}