.search input{  
    margin :0px 0px;
    flex: 0.9;
    border: none ;
    border-radius: none ;
    background-color: white ;
    font-size: 15px;
    padding: 0px 20px;
    font-family: vazir;
    height: 40px;
    border-top-right-radius: 10px;
    box-shadow: 0.0px 1.0px 2px 0.3px rgb(196, 195, 195);
    border-bottom-right-radius: 10px;
}
.search input:focus{
    outline: none;
    border: none;
    border-bottom:1px solid rgb(219, 219, 221); 
}
.search{
    text-align: center;
    direction: rtl;
    flex : 0.8;
    display: flex;
    margin: 0px auto;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    padding : 5px 0px;
}
.searchButtonRss{
    flex: 0.1;
    border-radius: 0px !important;
    height: 40px !important;
    font-size: 20px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    color: white !important;
    box-shadow : 0.0px 1.0px 2px 0.3px rgb(196, 195, 195) !important;
    background-color:#ff891b !important;
}
.drawerRssFilter{
    background-color: rgb(235,237,239);
    height: 4000vh;
    padding: 0px 20px;
    padding-top: 8px;
}
.toggleBtnFilter{
    display: none !important;
}
@media screen and (max-width : 1279px) {
    .toggleBtnFilter{
        display: block !important;
    }
}
@media screen and (max-width : 400px) {
    
    .search input{
        padding: 0px;
    }
}