.DA1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 445px;
    width: 90%;
    position: absolute;
    top: 100px;
    border-radius: 12px;
    padding:5px 20px;
}
.DA1_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;

}
.DA1_HeaderFilters {
    display: flex;
    align-items: center;
}

.DA1_Footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;

}
.DA1_HeaderDateFilterC {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:15px;
}
.DA1_HeaderDateFilterC > span {
    margin-left:14px;
    font-size: 11px;
}
.DA_TopContaier {
    height: 480px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.DA_TopHeader {
    flex:0.3;
    width: 100%;
    background-color: #29294A;
    color:white;
    padding:12px 90px;
    position: relative;
}
.DA_FHeader {
    flex:0.7;
}
.DA_Header > h3 {
    font-size: 18px;
    font-weight: bold;
}
.DA_Header > p {
    font-size: 9.5px;
}

.DA_CTimeFilters {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.DA_DateInput {
    outline: none;
    border:none;
    box-shadow: none;
    color: rgb(85, 85, 85);
    padding:4px 13px;
    text-align: right;
    border-radius: 5px;
    font-size:10px;
    background-color: #F9FAFC;
    box-shadow: 2px 2px 1px 1px rgba(204, 204, 204, 0.452);
    padding-top:8px;
    
}
.DA_DateInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: grey;
    text-align: right;
    margin:0px;
    padding:0px;
    width: 100%;
    font-size: 13px;
  }
  .DA_DateInput::-moz-placeholder { /* Firefox 19+ */
    color: grey;
    text-align: right;
    margin:0px;
    padding:0px;
    width: 100%;
    font-size: 13px;
  }
  .DA_DateInput:-ms-input-placeholder { /* IE 10+ */
    color: grey;
    text-align: right;
    margin:0px;
    padding:0px;
    width: 100%;
    font-size: 13px;
  }
  .DA_DateInput:-moz-placeholder { /* Firefox 18- */
    color: grey;
    text-align: right;
    margin:0px;
    padding:0px;
    width: 100%;
    font-size: 13px;
  }
  
  .DA_CTimeFilter {

      font-size:11px;
      padding: 14px 9px;
      color:#B4B3B9;
      cursor: pointer;
      margin-bottom: -1.5px;
  }
  .DA_CTimeFilterActive {
      color:#262626;
      font-weight: bold;
      border-bottom: 2px solid #7E7C86;
  }
  .DA_DownloadPng {
      margin-right:10px;
  }

  .DA1_ResultTitle {
      font-size: 13px;
      font-weight: 600;
  }
  .DA1_RaiseIcon {
      color: #11A868;
  }
  .DA1_ResultFooter {
      margin-top:8px;
  }
  .DA1_Overviews {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 32%;
      margin-bottom: -17px;
  }
  
  .DA1_ResultFirst {
      display: flex;
      flex-direction: column;
  }
  .DA1_ResultFirstHeader {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .DA1_ResultFirstCircle {
      width: 10px;
      height: 10px;
      background-color: aqua;
      border-radius: 50%;
  }
  .DA1_ResultFirstTitle {
      font-size: 13px;
      margin-right:6px;
      color:rgb(167, 167, 167);
  }
    .DA1_ResultFirst {
      display: flex;
      flex-direction: column;
  }
  .DA1_ResultFirstHeader {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .DA1_ResultFirstCircle {
      width: 10px;
      height: 10px;
      background-color: #5DCCE9;
      border-radius: 50%;
  }
  .DA1_ResultFirstTitle {
      font-size: 13px;
      margin-right:6px;
      color:rgb(167, 167, 167);
  }



.DA1_ResultSecond {
    display: flex;
    flex-direction: column;
}
.DA1_ResultSecondHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.DA1_ResultSecondCircle {
    width: 10px;
    height: 10px;
    background-color: #5409E4;
    border-radius: 50%;
}
.DA1_ResultSecondTitle {
    font-size: 13px;
    margin-right:6px;
    color:rgb(167, 167, 167);
}
.DA1_ResultFirstCount {
    margin-top:8px;
    padding-right:15px;
    font-size:15px;
    font-weight: bold;
}
.DA1_ResultSecondCount {
    margin-top:8px;
    padding-right:15px;
    font-size:15px;
    font-weight: bold;
}
.DA1_ResultNumber {
    font-size: 23px;
    font-weight: bold;
}
.DA1_PostsRaiseContainer {
    margin-right:10px;
}
.DA1_HeaderTitleDes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top:6px;
}
.DA1_HeaderTitle {
    font-size:14px;
}
.DA1_HeaderDescribe {
    margin-top:3px;
    color:rgb(185, 185, 185);
    font-size:10px;
}
.DA1_HeaderDescribeIm {
    margin-bottom: 3px;
}

@media screen and ( max-width : 1380px ) {
    .DA1_Overviews {
        width: 40%;
    }
}
@media screen and ( max-width : 1350px ) {
    .DA1_Footer {
        grid-template-columns: auto auto auto;
    }
    .DA1{
        height: 525px;
    }

}
@media screen and ( max-width : 1120px ) {
    .DA1_Overviews {
        width: 50%;
    }
    .DA1_Footer {
        grid-template-columns: auto auto auto;
    }
    .DA1{
        height: 525px;
    }

}
@media screen and ( max-width : 1015px ) {
    .DA1_Footer {
        grid-template-columns: auto auto;
    }
}
@media screen and ( max-width : 900px ) {
    .DA1_Overviews {
        width: 60%;
    }
    .DA1_ResultTitle {
        font-size: 12px;
    }
    .DA1_ResultNumber {
        font-size:18px;
    }
    .DA1_ResultFirstTitle {
        font-size: 11px;
    }
    .DA1_ResultSecondTitle {
        font-size:11px;
    }
    .DA1_ResultFirstCount {
        font-size:14px;
    }
    .DA1_ResultSecondCount {
        font-size:14px;
    }
}
@media screen and ( max-width : 900px )  {
    .DA1_Overviews {
        width: 70%;
    }
}

@media screen and ( max-width : 610px ) {
    .DA1_Overviews {
        width: 80%;
    }
}
@media screen and ( max-width : 538px ) {
    .DA1_Overviews {
        width: 80%;
    }
    .DA1_ResultTitle {
        font-size: 11px;
    }
    .DA1_ResultNumber {
        font-size:16px;
    }
    .DA1_ResultFirstTitle {
        font-size: 10px;
    }
    .DA1_ResultSecondTitle {
        font-size:10px;
    }
    .DA1_ResultFirstCount {
        font-size:12px;
    }
    .DA1_ResultSecondCount {
        font-size:12px;
    }
}
@media screen and ( max-width : 491px ) {
    .DA1_Overviews {
        width: 90%;
    }
}
@media screen and ( max-width : 482px ) {
    .DA1_Footer {
        grid-template-columns: auto;
    }
    .DA1{
        height: 685px;
    }
}
@media screen and ( max-width : 425px ) {
    .DA1_Overviews {
        width: 94%;
    }
    .DA1_ResultTitle {
        font-size: 10px;
    }
    .DA1_ResultNumber {
        font-size:14px;
    }
    .DA1_ResultFirstTitle {
        font-size: 9px;
    }
    .DA1_ResultSecondTitle {
        font-size:9px;
    }
    .DA1_ResultFirstCount {
        font-size:10px;
    }
    .DA1_ResultSecondCount {
        font-size:10px;
    }
    .DA1_ResultFirst {
        flex:0.28;
    }
    .DA1_ResultSecond {
        flex:0.28;
    }
    .DA1_PostOverview {
        flex:0.44;
    }
    .DA1_ResultFirstCount {
        padding-right:30px;
    }
    .DA1_ResultSecondCount {
        padding-right: 30px;
    }
}
@media screen and ( max-width : 404px ) {
    .DA1_ResultFirstCount {
        padding-right:20px;
    }
    .DA1_ResultSecondCount {
        padding-right: 20px;
    }
}