.websites{
    background-color: white;
    height: 97%;
    border-radius: 5px;
    display: flex;
    direction: ltr;
    box-shadow: 0.5px 0.5px 3px 3px rgb(226, 226, 226);
}
.websitesContainer{
    flex:0.75;
    overflow-y:scroll ;
}
.websitesContainer h3{
    margin: 30px;
}
.websiteInformationContainer{
    flex: 0.25;
}
.gridWebsites{
    justify-content: space-around;
    display: grid;
    direction: rtl;
    padding: 20px;
    gap: 10px 20px;
    grid-template-columns: auto auto auto;
    border: 1px solid rgb(243, 241, 241);
}