.mapPostInfBox{
    background-color: white;
    left: 0px;
    right: 0px;
    position: absolute;
    height: 200px;
    z-index: 100000;
    margin: 0px 120px;
    border-radius: 20px;
    box-shadow: 1px 1px 12px 1px #2729492c;
    top: 130px;
    display: flex;
    padding: 5px;
}
.totalInfBoxMapPost{
    flex: 0.4;
    margin-top: 15px;
    padding-right: 40px;
    border-left: 2px solid #e9e4e49a;
    margin-bottom: 15px;
}
.totalInfBoxMapPost h2{
    color: black;
    padding-top: 15px;
    font-size: 23px;
    font-weight: bold;
    margin: 0px;
}
.charInfBoxMapPost{
    flex:0.6;
    display: flex;
}
.growsMapBoxInf{
    display: flex;
    margin-top: 15px;
}
.growsMapBoxInf h3{
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: -4px;
}
.growsMapBoxInf span{
    font-size: 12px;
    color: #A2AAB2;
}
.growsMapBoxInf > div{
    display: flex;
    align-items: center;
}
.baseGrowsBoxStyle{
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 14px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
}
.chartMapBoxInf{
    display: flex;
    position: relative;
    align-items: center;
    flex: 0.3;
}
.topTenLocationMapBoxInf{
    flex:0.7;
    display: flex;
}
.topTenLocationMapBoxInf div{
    flex: 0.5;
}
.toptenLocationPostInf{
    display: flex;
    margin: 5px 0px;
    flex-direction: column;
}
.maxPerChartMapBoxInf{
    height: 60px;
    right: 0px;
    left: 0px;
    margin: 0px 80px;
    position: absolute;
    text-align: center;
}
.maxPerChartMapBoxInf h4{
    margin: 0;
    padding-left: 7px;
    color: black;
    margin-top: 7px;
    padding-top:8px;
    font-weight: bold;
    margin-bottom: -9px;
}
.maxPerChartMapBoxInf span{
    color: gray;
    font-size: 12px;
    padding-left: 5px;
}

@media screen and (max-width: 1400px) {
    .mapPostInfBox{
        margin: 0px 100px;
    }
}
@media screen and (max-width: 1280px) {
    .mapPostInfBox{
        margin: 0px 100px;
    }
    .mapPostInfBox{
        margin: 0px 60px;
    }
       
}
@media screen and (max-width: 1100px) {
    .totalInfBoxMapPost{
        padding-right: 20px;
    }
    .totalInfBoxMapPost h2{
        font-size: 19px;
    }
    .growsMapBoxInf h3{
        font-size: 12px;
    }
    .growsMapBoxInf span{
        font-size: 9px;
    }
    .baseGrowsBoxStyle{
        height: 35px;
        width: 35px;
        font-size: 20px;
    }
    .baseGrowsBoxStyle{
        margin-left: 5px;
        margin-top: -3px;
        margin-right: 0px;
    }
    .maxPerChartMapBoxInf{
        margin: 0px 65px;
    }
    .maxPerChartMapBoxInf h4{
        font-size: 16px;
    }
    .maxPerChartMapBoxInf span{
        font-size: 11px;
    }
    
}
@media screen and (max-width: 950px) {
    .maxPerChartMapBoxInf{
        display: none;
    }
    .chartMapBoxInf{
        display: none;
    }
    .topTenLocationMapBoxInf{
        flex:1;
        margin-right: 20px;
    }

}

@media screen and (max-width: 850px) {
    .totalInfBoxMapPost{
        flex: 0.4;
    }
    .charInfBoxMapPost{
        flex:0.6;
    }
    .growsMapBoxInf{
        margin-top: 4px;
        flex-direction: column;
    }
    .growsMapBoxInf >div{
        margin:5px 0px;
    }
    .totalInfBoxMapPost span{
        font-size: 12px;
    }
}

@media screen and (max-width: 660px) {
    .mapPostInfBox{
        flex-direction: column;
        height: 420px;
    }
    .totalInfBoxMapPost{
        border: none;
        position: relative;
        padding-right: 15px;
    }
    .responsiveChart{
        position: absolute;
        top: 10px;
        left: 0px;
    }
    .responsiveChartInfo{
        position: absolute;
        left: 85px;
        top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .responsiveChartInfo h4{
        font-weight: bold;
        color: black;
        font-size: 18px;
        margin: 0;
        padding-left: 1px;
    }
    .responsiveChartInfo span{
        color: grey;
        margin-top: -3px;
    }
}

@media screen and (max-width: 520px) {
    .mapPostInfBox{
        margin: 0px 20px;
    }
    .growsMapBoxInf h3{
        font-size: 12px;
        padding-top: 5px;
    }
    .totalInfBoxMapPost{
        border: none;
        position: relative;
        padding-right: 8px;
    }
}

@media screen and (max-width: 450px) {
    .totalInfBoxMapPost h2{
        font-size: 16px;
    }
    .growsMapBoxInf h3{
        font-size: 12px;
    }
    .growsMapBoxInf span{
        font-size: 8px;
    }
    .totalInfBoxMapPost span{
        font-size: 9px;
    }
    .responsiveChartInfo{
        top: 46px;
        left: 70px;
    }
    .charInfBoxMapPost{
        flex: 1;
        margin-right: -10px;
    }
}

@media screen and (max-width: 360px) {
.responsiveChart{
    margin-left: -20px;
}
}