.mapPostInfBox{
    background-color: white;
    left: 0px;
    right: 0px;
    position: absolute;
    height: 200px;
    margin: 0px 120px;
    border-radius: 20px;
    box-shadow: 1px 1px 12px 1px #2729492c;
    top: 130px;
    display: flex;
    padding: 5px;
}
.totalInfBoxMapPost{
    flex: 0.4;
    margin-top: 15px;
    padding-right: 40px;
    border-left: 2px solid #e9e4e49a;
    margin-bottom: 15px;
}
.totalInfBoxMapPost h2{
    color: black;
    padding-top: 15px;
    font-size: 23px;
    font-weight: bold;
    margin: 0px;
}
.charInfBoxMapPost{
    flex:0.6;
    display: flex;
}
.growsMapBoxInf{
    display: flex;
    margin-top: 15px;
}
.growsMapBoxInf h3{
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: -4px;
}
.growsMapBoxInf span{
    font-size: 12px;
    color: #A2AAB2;
}
.growsMapBoxInf > div{
    display: flex;
    align-items: center;
}
.baseGrowsBoxStyle{
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 14px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
}
.chartMapBoxInf{
    display: flex;
    position: relative;
    align-items: center;
    flex: 0.3;
}
.topTenLocationMapBoxInf{
    flex:0.7;
    display: flex;
}
.topTenLocationMapBoxInf div{
    flex: 0.5;
}
.toptenLocationPostInf{
    display: flex;
    margin: 5px 0px;
    flex-direction: column;
}
.maxPerChartMapBoxInf{
    height: 60px;
    right: 0px;
    left: 0px;
    margin: 0px 80px;
    position: absolute;
    text-align: center;
}
.maxPerChartMapBoxInf h4{
    margin: 0;
    padding-left: 7px;
    color: black;
    margin-top: 7px;
    padding-top:8px;
    font-weight: bold;
    margin-bottom: -9px;
}
.maxPerChartMapBoxInf span{
    color: gray;
    font-size: 12px;
    padding-left: 5px;
}
