.websiteCardRss{
    position:  relative !important;
    width: 330px !important;
    direction: ltr !important;
    box-shadow: 0.4px 0.4px 3px 1px rgb(235, 235, 235) !important;
}
.cardHeaderWebsite{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
}
.cardHeaderWebsite h4{
    margin-right: 10px;
    padding-top: 4px;
    font-size: 18px;
}
.avatarWebsite{
    width: 47px !important;
    height: 47px !important;
}
.lastPostDateWebsite{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.lastPostDateWebsite span{
    padding-top: 3px;
}
.locationWebsiteCard{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.websiteCardChart{
    width: 60%;
    margin: 0px !important;
    height: 100px;
    padding:0px !important;     
    border-radius: 5px !important;
    border: 1px solid #f3830375 !important;
}
.websiteCardFooter{
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: -13px;
}
.dataCardWebsite{
    color:#ff891b;
    border: #cecdcdda 1px solid;
    padding:0px 20px;
    font-size: 20px;
    margin: 0px 5px;
    border-radius: 5px;
    height: 100%;
    align-self: center;
}
.dataCardWebsite span{
    font-size: 14px;    
    color:#747474da;
}
.chartCardWebsite{
    align-self: center;
    border: #cecdcdda 1px solid;
    border-radius: 5px;   
    padding: 0px 10px;
}
.piegraphWebsiteCard{
    position: absolute;
    top: 80px;
    left: 35px;
}