.websiteCardRss{
    position:  relative !important;
    transition: all 0.4s ease-out;
    width: 300px !important;
    direction: ltr !important;
    box-shadow: 0px 0.4px 4px 0.5px rgba(87, 86, 86, 0.144) !important;
    cursor: pointer;
    box-shadow: 0.4px 0.4px 20px 6px rgb(235, 235, 235) !important;
    background-color: rgb(226, 221, 221);
}
.websiteCardRss:hover{
    background-color: rgba(245, 245, 245, 0.918) !important;
}
.cardHeaderWebsite{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}
.cardHeaderWebsite > p{
    margin-right: 8px;
    padding-top: 2px;
    font-family: "Shabnam" !important;
    font-size: 14px;    
    font-weight: bold;
    color:rgb(92, 87, 87);
}
.activateCardWebsite { 
    transition: all 0.4s ease-out;
    border:2px solid #ff891baf !important;
}
.avatarWebsite{
    width: 50px !important;
    height: 50px !important;
    box-shadow: 0px 0.4px 3px 1px rgba(87, 86, 86, 0.144) !important;

}
.lastPostDateWebsite{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.locationWebsiteCard{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.websiteCardChart{
    width: 60%;
    margin: 0px !important;
    height: 100px;
    padding:0px !important;     
    border-radius: 5px !important;
    border: 1px solid #f3830375 !important;
}
.websiteCardFooter{
    margin-top: 19px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: -13px;
}

.piegraphWebsiteCard{
    position: absolute;
    top: 20px;
    left: 32px;
}
.typographyWebsiteCard{
    padding-right: 2px !important;

    font-size: 13px !important;
}

.WebsiteCard_sparkelineContainer {

}

.chartCardWebsite{
    align-self: center;
    border: #f1e9e9da 1px solid;
    border-radius: 3px;   
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex : 0.6;
    width: 200px;
    height: 50px;
}

.WebsiteCard_sparkline {
    border-left: #f1e9e9da 1px solid;
    margin-right:0px;
}

.WebsitePreview_growth {
    width: 75px;
    display: flex;
    flex-direction: column;
}

.Growth_title{
    font-size: 12px;
    padding:5px;
    padding-right:8px;
    color:rgb(170, 166, 166);
    
}
.Growth_number{
    font-size:15px;
    width: 100%;
    padding-right:7px;
    color:#54BBB8;
    font-weight: bold;
}

.dataCardWebsite{
    color:#ff891b;
    border: #f1e9e9da 1px solid;
    font-size: 19px;
    border-radius: 3px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex:0.38;
}


.dataCardWebsite_title {
    padding:5px;
    font-size: 12px;
    color:rgb(170, 166, 166);

}
.dataCardWebsite_number {
    font-size:15px;
    width: 100%;
    padding-right:15px;
    font-weight: bold;
}

.WebsiteCard_icons {
    color:rgb(182, 180, 180);
    font-size: 16px;
}
.WebsiteCard_iconContent{
    font-size: 12px;
}