.websiteCardRss{
    position:  relative !important;
    width: 330px !important;
    direction: ltr !important;
    cursor: pointer;
    box-shadow: 0.4px 0.4px 3px 1px rgb(235, 235, 235) !important;
}
.websiteCardRss:hover{
    background-color: rgba(212, 212, 212, 0.116) !important;
}
.cardHeaderWebsite{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}
.cardHeaderWebsite h4{
    margin-right: 8px;
    padding-top: 2px;
    font-size: 16px;
}
.activateCardWebsite { 
    border:2px solid #ff891baf !important;
}
.avatarWebsite{
    width: 50px !important;
    height: 50px !important;
    border: #ff891b 2px solid ;
}
.lastPostDateWebsite{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.lastPostDateWebsite span{
    padding-top: 3px;
    font-size: 13px;
}
.locationWebsiteCard{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.websiteCardChart{
    width: 60%;
    margin: 0px !important;
    height: 100px;
    padding:0px !important;     
    border-radius: 5px !important;
    border: 1px solid #f3830375 !important;
}
.websiteCardFooter{
    margin-top: 27px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: -13px;
}
.dataCardWebsite{
    color:#ff891b;
    border: #cecdcdda 1px solid;
    padding:0px 20px;
    font-size: 19px;
    margin: 0px 5px;
    border-radius: 5px;
    height: 100%;
    align-self: center;
}
.dataCardWebsite span{
    font-size: 14px;    
    color:#747474da;
}
.chartCardWebsite{
    align-self: center;
    border: #cecdcdda 1px solid;
    border-radius: 5px;   
    padding: 0px 10px;
}
.piegraphWebsiteCard{
    position: absolute;
    top: 60px;
    left: 32px;
}
.typographyWebsiteCard{
    padding-right: 1px !important;
    margin-top: -10px !important;
    font-size: 13px !important;
}