.Post{
    width: 250px;
    height: 400px;
    border : 1px solid black;
    border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
}
.Post_image > img {
    width: 100%;
}
.Post_container{
    font-size:13px;
    padding-left:5px;
    padding-right:5px;

}
.Post_container a {
    text-decoration: none;
}
.Post_footer {
    padding-right:5px;
}