.positiveness{
    text-align: right;
    background-color: white;
    box-shadow: 0px 1px 3px 1px rgb(218, 218, 218);
    border-radius: 3px;
    padding: 20px;
}
.fontStyle{
    font-family: 'Yekan' !important;
}