/*.positiveness{
    text-align: right;
    background-color: white;
    box-shadow: 0px 1px 3px 1px rgb(218, 218, 218);
    border-radius: 3px;
    padding: 20px;  
}

.fontStyle{
    font-family: 'Yekan' !important;
}
.Positive_nav{
    width: 100%;
}
.Positive_item {
    height: 30px !important;
    width: 30px !important;
    color:rgb(224, 224, 224)221, 216, 216)
}
*/
.Positivness{
    background-color: white;
    padding: 10px;
    padding-top: 4px;
    border-radius: 10px;
}
.Positive {
    display: flex;
    justify-content: center;
    direction: ltr;
    align-items: center;
    justify-content:space-around;
}
.Remove {
    width: 20px;
}
.Positive_box {
    height: 35px;
    width: 50px;
}
.Positive p {
    font-size: 14px;
    width: 80px;
    height: 34px;
    text-align: center;
    line-height: 2.5em;
    border-radius: 16px;
}

.Positive_negetive {    
    background-color:#f50056d7;
    color:rgb(255, 255, 255)
}
.Positive_none {
    background-color:rgba(63, 81, 181,0.8);
    color:rgb(255, 255, 255)
}
.Positive_Positive {
    background-color:#05aa44d3;
    color:rgb(255, 255, 255)
}
.Positivness p {
    font-size: 16px;
}