/*.positiveness{
    text-align: right;
    background-color: white;
    box-shadow: 0px 1px 3px 1px rgb(218, 218, 218);
    border-radius: 3px;
    padding: 20px;
}

.fontStyle{
    font-family: 'Yekan' !important;
}
.Positive_nav{
    width: 100%;
}
.Positive_item {
    height: 30px !important;
    width: 30px !important;
    color:rgb(224, 224, 224)221, 216, 216)
}
*/
.Positive {
    display: flex;
    justify-content: center;
    direction: ltr;
    align-items: center;
    justify-content:space-around;
}
.Remove {
    width: 20px;
}
.Positive_box {
    height: 35px;
    width: 50px;
}
.Positive p {
    font-size: 15px;
    width: 80px;
    height: 34px;
    text-align: center;
    line-height: 2.2em;
    border-radius: 16px;
}

.Positive_negetive {
    background-color:rgba(252, 2, 2, 0.877);
    color:rgb(255, 255, 255)
}
.Positive_none {
    background-color:rgba(184, 185, 184, 0.582);
    color:rgb(255, 255, 255)
}
.Positive_Positive {
    background-color:rgba(73, 238, 8, 0.836);
    color:rgb(255, 255, 255)
}