.ModalPost {
    position :fixed !important;
    height: 500px !important;
    width: 300px !important;
}

.ModalPost_image {
    width: 300px;
    height: 140px;
}
.ModalPost_text {
    font-size: 10px;
}
.ModalPost_title {
    font-size: 20px;
}

.ModalPost2 {
    height: 400px !important;
}