/*.ModalPost {
    position: absolute;
    width: 800px;
    height: 200px;
}*/

.ModalPost_image {
    width: 600px;
    height: 337.5px;
}
.ModalPost_text {
    font-size: 10px;
}
.ModalPost_title {
    font-size: 20px;
}