.Post{
    width: 266px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    margin-bottom: 12px;
    margin-top:0px;
}
.Post_top_green {
    width: 100%;
    height: 6px;
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px;
}

.Post_top_red {
    width: 100%;
    height: 6px;
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px;
}
.postBody{
    background:linear-gradient(180deg  ,#f1c5d5d7 40% , #f1c5d5b4 40% , #f3d8e285 50%, #faf8f8d7  , white,white ) !important;
}
/*.Post_image > img {
    width: 100%;
}
.Post_container{
    font-size:13px;
    padding-left:5px;
    padding-right:5px;

}
.Post_container a {
    text-decoration: none;
}
.Post_footer {
    padding-right:5px;
}*/
.Post_news_text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top:5px;
    font-size: 12px !important;
    
}

.Post_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    
}
.Post_title {
    font-size:15px !important;
    border-bottom: 1px solid rgb(228, 219, 219);
    color:rgb(7, 76, 155);
    padding-bottom: 7px;
    font-size: 14px !important;
}
.Post_card {
    height: 313px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.photo{
    border-radius: 0px;
}