.DA2 {
    display: grid;
    grid-template-columns: 340px auto auto auto;
    column-gap: 10px;
}

.DA2Chart {
    padding:15px;
    
}
.DA2Chart {
    height: 320px;
    width: 340px;
    background-color: white;
    border-radius: 4px;
    /*margin-right:10px;*/
    color:#49c3f3;
}
.DA2Chart_Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color:#77777B;
    font-size:12px;
}

@media screen and ( max-width : 1120px ) {
    .DA2 {
        grid-template-columns:340px auto auto auto;
    }
}
@media screen and ( max-width : 858px ) {
    .DA2 {
        grid-template-columns: 48.3% 50%;
        row-gap: 10px;
    }
    .DA2Chart {
        width: auto;
    }
}
@media screen and ( max-width : 500px ) {
    .DA2 {
        grid-template-columns: 100%;
    }
}