.Posts{
  display: grid;
  place-items: center;
  flex-wrap: wrap;
  flex:0.95;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 100%;
  margin-top: 10px;
  
}
.Posts::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width : 1020px) {
    .Posts {
      grid-template-columns: auto auto auto;
    }
}
