.DA3 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 10px;
    margin-top:10px;
    padding:10px 0px;
    justify-content: space-between;
    position: relative;
}

.DA3::-webkit-scrollbar {
    width: 1px;
    height: 3px;
  }
   
  .DA3::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(119, 119, 119, 0.3);
  }
   
  .DA3::-webkit-scrollbar-thumb {
    background-color: rgb(41, 61, 177);
    outline: 1px solid slategrey;
  }

@media screen and ( max-width : 1460px ) {
    .DA3 {
      grid-template-columns:23% 23% 23% 23% ;
      row-gap: 10px;
    }
}
@media screen and ( max-width : 1153px ) {
  .DA3 {
    grid-template-columns:32% 32% 32% ;
  }
}
@media screen and ( max-width : 869px ) {
  .DA3 {
    grid-template-columns:48% 48%;
  }
}
@media screen and ( max-width : 573px ) {
  .DA3 {
    grid-template-columns: 97%;
    justify-content: center;
  }
}