.DA3_Box {
    height: 430px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding:5px 8px;
    color:#C0C1C5;

}
.DA3_BoxBody {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding:3px 20px;
}
.DA3_BBodyTitle {
    color: rgb(68, 68, 68);
}
.DA3_BBodyDecribe {
    color:#C0C1C5;
    font-size:10px;
    margin-top:4px;
}
.DA3_BBodyCount {
    color:rgb(104, 104, 104);
    font-size: 25px;
    margin-top:20px;

}
.DA3_RaiseIcon {
    color:#57B67E;
    font-size:23px;
    padding-bottom: 2px;
    margin-left:-2px;
}
.DA3_FallIcon {
    color:#F56060;
    font-size:23px;
    padding-bottom: 2px;
    margin-left:-2px;
}
.DA3_BBodyRaise {
    font-weight: bold;
    font-size:15px;
    margin-top:4px;
    margin-right:-5px;
}
.DA3_Raise{
    color:#57B67E;
    
}
.DA3_Fall{
    color:#F56060;
}
.DA3_BBody_Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:20px;
}
.DA3_BChart {
    margin-top:10px;
}
.DA3_BChartTops {
    margin-top:20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.DA3_BChartT_TitleNumber , .DA3_BChartT_Raise {
    display: flex;
    align-items: center;
}
.DA3_BChartT_Title {
    color: #b6b6b6;
    font-size:10px;
    padding-left:6px;
    padding-bottom: 2px;
}
.DA3_BChartT_Number {
    color:#7B7A80;
    margin-right:7px;
    font-size:12px;
    font-weight: bold;
}
.DA3_IconTops {
    font-size: 17px;
}
.DA3_BChartT_RaiseNumber {
    font-size:11px;
}
.DA3_BoxDownload {
    text-align: left;
    padding-left:6px;
}

@media screen and ( max-width : 1460px ) {
    .DA3_Box {
        width: auto;
    }
}