.Navbar {
    margin-bottom : 10px;
}
.AppBar {
    height: 40px;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow : 0.0px 0.4px 2px 0.4px rgb(238, 238, 238);
    border: none !important;
    justify-content: space-around;
}
.AppBar div{
    text-align: center;
    color: black;
}
.navLink{
    color: rgb(61, 61, 61);
    line-height: 1.5em;
    text-decoration: none;
}

