.Navbar {
    margin-bottom : 10px;
    padding: 0px !important;
    width: 100% !important;
}
.AppBar {
    height: 40px;
    padding: 0px !important;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow : 0.0px 1.0px 17px 4px #E4E0F5 !important;
    border: none !important;
    justify-content: space-around;
}
.AppBar div{
    text-align: center;
    color: rgb(163, 163, 163);   
    font-size: 15px;
    cursor: pointer;
    padding: 11px 0px;
    align-items: center;
    border-radius: 2px;
    border-bottom: solid 3px white;
    width: 300px;
    transition: all 0.3s ease;
}

.activeBar1{
    border-bottom: #F50057 3px solid !important;
}
.activeBar1 .navLink1{
    color : #F50057;
}
.activeBar1:hover .navLink{
    color : #F50057;
}
.activeBar2{
    border-bottom: #F38203 3px solid !important;
}
.activeBar2 .navLink2{
    color : #F38203;
}
.activeBar2:hover .navLink{
    color : #F38203;
}
.activeBar{
    border-bottom: solid 3px #24E5A4 !important;
}
.activeBar .navLink3{
    color : #24E5A4 ;
}
.activeBar:hover .navLink{
    color: #24E5A4;
}
.navIcon{
    font-size: 20px;
    margin-left: 5px;
    color: rgb(61, 61, 61);
}
.navLink1{
    color: rgb(61, 61, 61); 
    line-height: 1.5em;
    text-decoration: none;
    transition: all 0.3s ease;
}
.navLink2{
    color: rgb(61, 61, 61); 
    line-height: 1.5em;
    text-decoration: none;
    transition: all 0.3s ease;
}
.navLink3{
    color: rgb(61, 61, 61); 
    line-height: 1.5em;
    text-decoration: none;
    transition: all 0.3s ease;
}
.navLink:hover{
    text-decoration: none;
}
.navLink1:hover{
    transition: all 0.3s ease;
    color: #F50057;
    text-decoration: none;
}
.navLink1 div:hover .navLink1{
    transition: all 0.3s ease;
    color: #F50057;
}
.navLink1 div:hover
{
    transition: all 0.3s ease;
    border-bottom-color: #F50057 !important;
}
.navLink2:hover{
    transition: all 0.3s ease;
    color: #F38203;
    text-decoration: none;
}
.navLink2 div:hover .navLink2{
    transition: all 0.3s ease;
    color: #F38203;
}
.navLink2 div:hover
{
    transition: all 0.3s ease;
    border-bottom-color: #F38203 !important;
}

.navLink3:hover{
    transition: all 0.3s ease;
    color: #24E5A4;
    text-decoration: none;
}
.navLink3 div:hover .navLink3{
    transition: all 0.3s ease;
    color: #24E5A4;
}
.navLink3 div:hover
{
    transition: all 0.3s ease;
    border-bottom-color: #24E5A4 !important;
}
.tnavFilters{
    position: absolute;
    right: 8px;
    color: rgb(77, 77, 77) !important;
    font-size:25px;
    display: none;
}
@media screen and (max-width: 992px) {
    .AppBar div {
        width: 200px;
    }
}
@media screen and (max-width: 700px) {
    .AppBar div {
        width: 170px;
    }
}
@media screen and (max-width: 600px) {
    .AppBar div {
        width: 160px;
    }
}

@media screen and (max-width: 450px) {
    .AppBar div {
        width: 110px;
    }
    .navlinkres {
        font-size: 12px;
    }
}
@media screen and (max-width: 400px) {
    .AppBar div {
        width: 110px;
    }
    .navlinkres {
        font-size: 12px;
    }
}
@media screen and (max-width: 370px) {
    .AppBar div {
        width: 80px;
    }
}