.PSR_Posts{
    display: grid;
    place-items: center;
    overflow-y:scroll ;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    gap: 5px 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width : 1398px) {
  .PSR_Posts {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width : 1279px) {
  .PSR_Posts {
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (max-width : 1030px) {
    .PSR_Posts {
      grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width : 790px) {
    .PSR_Posts {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width : 690px) {
    .PSR_Posts {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width : 487px) {
    .PSR_Posts {
    grid-template-columns: auto;
    justify-content: center;
    padding: 0px 50px;
  }
}