.PSR_Post {
    width: 250px;
    height: 405px;
    margin-top:10px;
    background: var(--postTheme);
    border-radius: 26px;
    box-shadow:2px 3px 8px 0.3px var(--PSR_PostBoxShadow);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /*transition: all 0.6s ease;*/
}

.PSR_PostImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: relative;

}
.PSR_PostImage {
    height: 135px;
    width: 240px;
    border-radius: 26px;
    margin-bottom: 5px;
}
.PSR_SocialHeader {
    display: flex;
    justify-content: space-between;
    direction: ltr;
    margin:0px 10px;
    padding: 0px 2px;
    margin-top: 8px;
    padding-bottom: 3px;
    font-size: 10px;
    color:var(--PSR_PostTextColor);
    border-bottom:1px solid var(--PSR_PostTextColor);
}
.PSR_PostDate {
    display: flex;
    align-items: center;
}
.PSR_PostDate > span{
    margin-right:3px;
}
.PSR_PostDateIcon{
    padding-bottom: 3px;
    font-size: 15px;
}
.PSR_PostAuthor > span {
    margin-left:3px;
}
.PSR_PostAuthorIcon {
    padding-bottom: 2px;
    font-size: 13px;
}
.PSR_PostBody{
    padding:0px 14px;
}

.PSR_PostGrid_HashtagsContainer {
    display: flex;
    padding : 1px 10px;
    border: 1px solid #6442C4;
    border-right:none;
    border-left:none;
    padding-top:4px;
}

.PSR_PostHashtags {
    display: flex;
    align-items: center;
    direction: rtl;
    justify-content: right;
    width: 86%;
    margin : 0px auto;
    flex: 1;
    border-radius: 10px;
    padding-right:2px;
}
.PSR_PostHashtags > p {
    font-family: Shabnam;
    font-size:10px;
    color:var(--PSR_PostTextColor);

}
.PSR_Hashtags2 {
    display: flex;
    align-items: center;
    padding: 7px 0px;
    margin:2px 0px;
    margin-right:10px;
}
.PSR_Hashtags2 > p {
    font-size: 12px;
}

.PSR_Hashtags2 > * {
    margin-left:6px;
}

.PSR_Post_footer_date {
    display: none;
}
.PSR_rsstitle {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 15px;
    margin-bottom: 3px;
}
.PSR_rsstitle p{
    font-size: 12px;
    color:var(--PSR_PostTitle);
    padding:0px 14px;
    font-weight: 400;

}

.PSR_InstagramBody {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
.PSR_rssBody{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.PSR_rssBody p {
    font-size: 11px;
    color: var(--PSR_PostTextColor);

}

.PSR_InstagramBody p {
    font-size: 11px;
    color: var(--PSR_PostTextColor);

}
.PSR_PostFooter {
    height: 26px;
    margin-bottom: 0px;
    margin-top:-5px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;

}
.PSR_InstagramFooter{
    display: flex;
    color:var(--PSR_PostTextColor);
    padding: 0px 30px;
    padding-top: 5px;
    font-size: 11px;
    border-top:1px solid #63636373;
}
.PSR_InstagramLikes{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: right;
}
.PSR_InstagramComments{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:1px solid #8d8a8a73;;
    padding-right:10px;
}
.PSR_InstagramLikeIcon{
    font-size: 18px;
    margin-left:5px;
    padding-bottom: 4px;

}
.PSR_InstagramCommentIcon{
    font-size: 13px;
    margin-left:5px;
    padding-bottom: 2px;
}









.PSR_RssFooter{
    display: flex;
    color:var(--PSR_PostTextColor);
    padding: 0px 30px;
    padding-top: 5px;
    font-size: 11px;
    border-top:1px solid #63636373;
  
}
.PSR_RssFeel{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rlt;
}

.PSR_RssFeelIcon{
    font-size: 18px;
    margin-left:5px;
    padding-bottom: 4px;

}






.PSR_TelegramFooter{
    display: flex;
    color:var(--PSR_PostTextColor);
    padding: 0px 30px;
    padding-top: 4px;
    font-size: 12px;
    border-top:1px solid #63636373;

}
.PSR_TelegramSource{
    flex:0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.PSR_TelegramComments{
    flex:0.3;
    display: flex;
    align-items: center;
    justify-content: left;
    border-right:1px solid #8d8a8a73;
    font-size: 10px;

}
.PSR_TelegramSourceIcon{
    font-size: 18px;
    margin-left:17px;
    padding-bottom: 4px;
    margin-right:10px;

}
.PSR_TelegramCommentIcon{
    font-size: 15px;
    margin-left:5px;
    padding-bottom: 2px;
}

.PSR_Telegram_Group { 
    display: flex;
    align-items: center;
    justify-content: center;

}










.PSR_TwitterFooter{
    display: flex;
    color:var(--PSR_PostTextColor);
    padding: 0px 10px;
    padding-top: 5px;
    font-size: 10px;
    border-top:1px solid #63636373;
    padding-right: 27px;
}
.PSR_TwitterLikes{
    flex:0.33;
    display: flex;
    align-items: center;
    justify-content: right;
}
.PSR_TwitterComments{
    flex:0.33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:1px solid #8d8a8a73;
}
.PSR_TwitterLikeIcon{
    font-size: 18px;
    margin-left:5px;
    padding-bottom: 2px;

}
.PSR_TwitterCommentIcon{
    font-size: 15px;
    margin-left:5px;
    padding-bottom: 2px;
}

.PSR_TwitterRetweet {
    flex:0.33;
    border-right:1px solid #8d8a8a73;
    justify-content: right;
    padding-right: 10px;
}
.PSR_TwitterRetweetCommentIcon {
    font-size: 17px;
    margin-left:3px;
    padding-bottom: 2px;

}

.PSR_PostImageIcon {
    position: absolute;
    color:var(--PSR_PostTextColor);
    font-size: 34px;
    bottom: 4%;
    left:46%
}

.PSR_PostImage_telegramIcon{
    border-radius: 50%;
    font-size: 31px;
    color:white;
    background:linear-gradient(120deg, #0088cc, #d9eef8);
    padding: 6px;
}
.PSR_PostImage_instgramIcon{

    border-radius: 50%;
    color:white;
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    padding: 6px;
}
.PSR_PostImage_twitterIcon{
    border-radius: 50%;
    color:white;
    background:linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f5f8fa);
    padding: 6px;
}
.PSR_PostImage_rssIcon{
    border-radius: 50%;
    color:white;
    font-size: 32px;
    background:linear-gradient(120deg, #f26522, #eca27f);
    padding: 6px;

}





@media screen and (max-width : 1380px) {
    .PSR_Post {
        width:245px !important;
        transition: width 2s ease-in-out ;
    }
    .PSR_PostImage {
        width: 235px;
    }
    .Post {
        width: 245px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}


@media screen and (max-width : 1279px) {
    .PSR_Post {
      width: 285px !important;
    }
    .PSR_PostImage {
        width: 275px;
    }
    .Post {
        width: 285px;
    }
    .PostGrid_image {
        height: 160px !important;
    }
}

@media screen and (max-width : 1190px) {
    .PSR_Post {
      width: 265px !important;
    }
    .PSR_PostImage {
        width: 255px;
    }
    .Post {
        width: 265px;
    }
    .PostGrid_image {
        height: 160px !important;
    }
}

@media screen and (max-width : 1119px) {
    .PSR_Post {
        width:245px !important;
    }
    .PSR_PostImage {
        width: 235px;
    }
    .Post {
        width: 245px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}


@media screen and (max-width : 1030px) {
    .PSR_Post {
      width: 298px !important;
    }
    .PSR_PostImage {
        width: 288px;
        height: 150px;
    }
    .Post {
        width: 298px;
    }
    .PostGrid_image {
        height: 160px !important;
    }
}


@media screen and (max-width : 940px) {
    .PSR_Post {
        width:268px !important;
        transition: width 2s ease ;
    }
    .PSR_PostImage {
        width: 258px;
    }
    .Post {
        width: 268px;
    }
}
@media screen and (max-width : 853px) {
    .PSR_Post {
        width:245px !important;
    }
    .PSR_PostImage {
        width: 235px;
        height: 135px;
    }
    .Post {
        width: 245px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
    .PostGrid_image {
        height: 140px !important;
    }
    
    .PostGrid_site {
        top: 105px;
    }
    .Positiveness_PostGrid_site{
        top:105px;
    }
}


@media screen and (max-width : 790px) {
    .PSR_Post {
      width: 212px !important;
    }
    .PSR_PostImage {
        width: 202px;
        height: 120px;
    }
    .Post {
        width: 212px;
    }
    .Post_footer {
        display: none !important;
    }
    .PostGrid_image {
        height: 140px !important;
    }
    .Post_title {
        font-size: 12px !important;
    }
    .Hashtag2_lastchild{
        display: none;
    }
    .Hashtags2 span{
        font-size: 7px !important;
    }
    
    .PostGrid_site {
        top: 110px;
    }
    .Positiveness_PostGrid_site{
        top:110px;
    }
}
@media screen and (max-width : 690px) {
    .PSR_Post {
      width: 299px !important;
    }
    .PSR_PostImage {
        width: 289px;
        height: 160px;
    }
    .Post {
        width: 299px;
        margin-bottom: 20px !important;
    }
    .PostGrid_image {
        height: 160px !important;
    }
    .Post_title {
        font-size: 14px !important;
    }
    .Post_footer {
        display:flex !important;
    }
    .Hashtags2 span{
        font-size: 9px !important;
    }
    
    .PostGrid_site {
        top: 130px;
    }
    .Positiveness_PostGrid_site{
        top:130px;
    }
}
@media screen and (max-width : 650px) {
    .PSR_Post {
        width:280px !important;
    }
    .PSR_PostImage {
        width: 270px;
        height: 150px;
    }
    .Post {
        width: 280px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}
@media screen and (max-width : 608px) {
    .PSR_Post {
        width:260px !important;
    }
    .Post {
        width: 260px;
        margin-bottom: 15px !important;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}
@media screen and (max-width : 565px) {
        .PSR_Post {
            width: 240px !important;
            height: 330px !important;
          }
          .Post {
              width: 240px;
          }
          .Post_footer {
              display: none !important;
          }
          .PostGrid_image {
              height: 140px !important;
          }
          .Post_title {
              font-size: 12px !important;
          }
          .Hashtags2 span{
            font-size: 8px !important;
        }
        
    .PostGrid_site {
        top: 100px;
    }
    .Positiveness_PostGrid_site{
        top:100px;
    }
}
@media screen and (max-width : 527px) {
    .PSR_Post {
        width: 219px !important;
      }
      .Post {
          width: 219px;
      }
      .Post_footer {
          display: none !important;
      }
      .PostGrid_image {
          height: 140px !important;
      }
      .Post_title {
          font-size: 12px !important;
      }
      .Hashtags2 span{
        font-size: 7px !important;
    }
    
    .PostGrid_site {
        top: 110px;
    }
    .Positiveness_PostGrid_site{
        top:110px;
    }
}

@media screen and (max-width : 487px) {
    .PSR_Post {
      width: 100% !important;
      height: auto !important;
    }
    .Post {
        width: 100%;
        margin-bottom: 20px !important;
    }
    .PostGrid_image {
        height: 210px !important;
    }
    .Post_title {
        font-size: 14px !important;
        height: 57px;
    }
    .Post_footer {
        display:flex !important;
    }
    .Post_footer_date {
        display:inline;
        margin-left:2px ;
        margin-right:auto;
        font-size: 11px !important;
    }
    .Post_news_text {
        -webkit-line-clamp: 5;  
    }
    .Post_footer  {
        width: 92%;
    }
    .Hashtags2 span{
        font-size: 10px !important;
    }
    
    .PostGrid_site {
        top: 175px;
    }
    .Positiveness_PostGrid_site{
        top:175px;
    }
}

@media screen and (max-width : 430px) {
    .Post_news_text {
        -webkit-line-clamp: 4; 
    }
    .PostGrid_site {
        top: 175px;
    }
    .Positiveness_PostGrid_site{
        top:175px;
    }
}
@media screen and (max-width : 390px) {
    .Post_news_text {
        -webkit-line-clamp: 3; 
    }
    .PostGrid_image {
        height: 180px !important;
    }
    .PostGrid_site {
        top: 150px;
    }
    .Positiveness_PostGrid_site{
        top:150px;
    }
}

@media screen and (max-width : 376px) {
    .PostGrid_site {
        top: 150px;
    }
}
@media screen and (max-width : 371px) {
    .Post_footer_date {
        display: none;
    }
}

