.PSR_Post {
    width: 250px;
    height: 370px;
    margin-top:10px;
    background: rgb(37,37,99);
    background: linear-gradient(45deg, rgba(37,37,99,1) 0%, rgba(55,57,116,1) 79%);
    border-radius: 26px;
    box-shadow:2px 3px 8px 0.3px rgba(26, 1, 95, 0.562);
    display: flex;
    flex-direction: column;
}

.PSR_PostImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: relative;

}
.PSR_PostImage {
    height: 135px;
    width: 240px;
    border-radius: 26px;
    margin-bottom: 5px;
}
.PSR_SocialHeader {
    display: flex;
    justify-content: space-between;
    direction: ltr;
    margin:0px 10px;
    padding: 0px 2px;
    margin-top: 8px;
    padding-bottom: 3px;
    font-size: 10px;
    color:white;
    border-bottom:1px solid #ffffff73;
}
.PSR_PostDate {
    display: flex;
    align-items: center;
}
.PSR_PostDate > span{
    margin-right:3px;
}
.PSR_PostDateIcon{
    padding-bottom: 3px;
    font-size: 15px;
}
.PSR_PostAuthor > span {
    margin-left:3px;
}
.PSR_PostAuthorIcon {
    padding-bottom: 2px;
    font-size: 13px;
}
.PSR_PostBody{
    padding:0px 14px;
}

.PSR_PostGrid_HashtagsContainer {
    display: flex;
    padding : 0px 10px;
    border: 1px solid #6442C4;
    border-right:none;
    border-left:none;
}

.PSR_PostHashtags {
    display: flex;
    align-items: center;
    direction: rtl;
    justify-content: right;
    width: 86%;
    margin : 0px auto;
    flex: 1;
    border-radius: 10px;
    padding-right:2px;
}
.PSR_PostHashtags > p {
    font-family: Shabnam;
    font-size:9px;
    color:white;

}
.PSR_Hashtags2 {
    display: flex;
    align-items: center;
    margin-right:12px;
    padding: 7px 0px;
}
.PSR_Hashtags2 > p {
    font-size: 12px;
}

.PSR_Hashtags2 > * {
    margin-left:6px;
}

.PSR_Post_footer_date {
    display: none;
}
.PSR_rsstitle {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 15px;
    margin-bottom: 3px;
}
.PSR_rsstitle p{
    font-size: 12px;
    color:rgb(70, 226, 253);
    padding:0px 14px;
    font-weight: 400;

}

.PSR_InstagramBody {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
.PSR_rssBody{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.PSR_rssBody p {
    font-size: 10px;
    color:white;

}

.PSR_InstagramBody p {
    font-size: 10px;
    color:white;

}
.PSR_PostFooter {
    height: 26px;
    margin-bottom: 0px;
    margin-top:-5px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;

}
.PSR_InstagramFooter{
    display: flex;
    color:white;
    padding: 0px 30px;
    padding-top: 5px;
    font-size: 11px;
    border-top:1px solid #63636373;
}
.PSR_InstagramLikes{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: right;
}
.PSR_InstagramComments{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:1px solid #8d8a8a73;;
    padding-right:10px;
}
.PSR_InstagramLikeIcon{
    font-size: 18px;
    margin-left:5px;
    padding-bottom: 4px;

}
.PSR_InstagramCommentIcon{
    font-size: 13px;
    margin-left:5px;
    padding-bottom: 2px;
}









.PSR_RssFooter{
    display: flex;
    color:white;
    padding: 0px 30px;
    padding-top: 5px;
    font-size: 11px;
    border-top:1px solid #63636373;
  
}
.PSR_RssFeel{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rlt;
}

.PSR_RssFeelIcon{
    font-size: 18px;
    margin-left:5px;
    padding-bottom: 4px;

}






.PSR_TelegramFooter{
    display: flex;
    color:white;
    padding: 0px 30px;
    padding-top: 4px;
    font-size: 12px;
    border-top:1px solid #63636373;

}
.PSR_TelegramSource{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.PSR_TelegramComments{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left:20px;
    border-right:1px solid #8d8a8a73;
    font-size: 11px;
}
.PSR_TelegramSourceIcon{
    font-size: 20px;
    margin-left:17px;
    padding-bottom: 4px;

}
.PSR_TelegramCommentIcon{
    font-size: 15px;
    margin-left:5px;
    padding-bottom: 2px;
}











.PSR_TwitterFooter{
    display: flex;
    color:white;
    padding: 0px 10px;
    padding-top: 5px;
    font-size: 10px;
    border-top:1px solid #63636373;
    padding-right: 27px;
}
.PSR_TwitterLikes{
    flex:0.33;
    display: flex;
    align-items: center;
    justify-content: right;
}
.PSR_TwitterComments{
    flex:0.33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:1px solid #8d8a8a73;
}
.PSR_TwitterLikeIcon{
    font-size: 18px;
    margin-left:5px;
    padding-bottom: 2px;

}
.PSR_TwitterCommentIcon{
    font-size: 15px;
    margin-left:5px;
    padding-bottom: 2px;
}

.PSR_TwitterRetweet {
    flex:0.33;
    border-right:1px solid #8d8a8a73;
    justify-content: right;
    padding-right: 10px;
}
.PSR_TwitterRetweetCommentIcon {
    font-size: 17px;
    margin-left:3px;
    padding-bottom: 2px;

}

.PSR_PostImageIcon {
    position: absolute;
    color:white;
    font-size: 34px;
    top: -2%;
    left:46%
}

.PSR_PostImage_telegramIcon{
    border-radius: 50%;
    font-size: 31px;
    color:white;
    background:linear-gradient(120deg, #0088cc, #d9eef8);
    padding: 6px;
}
.PSR_PostImage_instgramIcon{

    border-radius: 50%;
    color:white;
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    padding: 6px;
}
.PSR_PostImage_twitterIcon{
    border-radius: 50%;
    color:white;
    background:linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f5f8fa);
    padding: 6px;
}
.PSR_PostImage_rssIcon{
    border-radius: 50%;
    color:white;
    font-size: 32px;
    background:linear-gradient(120deg, #f26522, #eca27f);
    padding: 6px;

}