.toggleTypeSelect{
    color: rgb(223, 223, 223) !important;
    border: none !important;
    border-radius: 50px !important;
    width: 100px;  
    color: rgba(255, 217, 0, 0.89) !important;
    margin: 0px;
    margin-left: 10px !important;
    text-align: center !important;
}
.groupTypeSelect{
    display: block;
    margin: auto !important;
    border-radius: none !important;
    border:none !important;
}
.toggleTypeSelect span{
    padding-right: 3px;
}
.divContainer .MuiBadge-root{
    align-items: center !important;
    text-align: center !important;
    padding-bottom: 18px;;
    font-size: 4px !important;
    direction: ltr;
}
.divContainer .MuiBadge-colorSecondary{
    text-align : center !important;
}

@media screen and (max-width : 500px) {
    .toggleTypeSelect{
        width: 90px !important;
        margin-left: 7px !important;
    }
    .toggleTypeSelect span{
        font-size: 12px !important;
    }
    .reacIconTypeSelect{
        font-size: 12px !important;
    }
    .divContainer{
        width: 100%;
        padding-right: 30px;
        margin: auto !important;
    }
}
    
@media screen and (max-width : 467px) {
    .toggleTypeSelect{
        width: 80px !important;
        margin-left: 7px !important;
    }
    .toggleTypeSelect span{
        font-size: 10px !important;
    }
    .reacIconTypeSelect{
        font-size: 12px !important;
    }
    .divContainer{
        width: 100%;
        padding-right: 30px;
        margin: auto !important;
    }
}
@media screen and (max-width : 390px) {
    .toggleTypeSelect{
        width: 70px !important;
        margin-left: 7px !important;
    }
    .toggleTypeSelect span{
        font-size: 9px !important;
    }
    .reacIconTypeSelect{
        font-size: 11px !important;
    }
    .divContainer{
        width: 100%;
        padding-right: 50px ;
        margin: auto !important;
    }
}