.NERfilter{

}
.NERAddContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.listOfNER ul{
    margin: 0px;
    list-style: none;
    padding: 0px;
    width: 100%;
}
.listOfNER{
    padding: 0px;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.listOfNER li{
    list-style:none;
    width: 100%;
    padding: 0px;
}
.listOfNER li:hover{
    background-color: rgb(238, 238, 238);
    transition: background-color 0.3s ease-out;
    
}