.categories ul{
    margin: 0px;
    list-style: none;
    padding: 0px;
    width: 100%;
}
.categories{
    padding: 0px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.categories li{
    list-style:none;
    width: 100%;
    padding: 0px;
}
.categories li:hover{
    background-color: rgb(238, 238, 238);
    transition: background-color 0.3s ease-out;
    
}