.catCheck{
    position: relative;
    width: 100%;
}
.iconCheck{
    position: absolute;
    left: 30px;
    top: 0.4em;
    color: rgb(109, 108, 108);
    font-size: 17px;
}
.fontStyle{
    color: rgb(65, 64, 64);
}
