.tagsFilter ul{
    margin: 0px;
    list-style: none ;
}
.tagsFilter{
    margin-bottom: 20px !important;
    border-radius: 10px !important;
}
.tagsFilter li {
    margin-right: -50px;
}
.addTag{
    background-color: rgb(102, 102, 102) !important;
    border-radius: 0px !important;
    font-size: 11px !important;
    color: white !important;
    border-top-left-radius:5px !important;
    border-bottom-left-radius: 5px !important;
    padding: 5px !important;    
    margin-left: 20px !important;
}
.tagsContainer{
    direction: ltr;
}
.chipclass{
    margin : 3px 4px !important;
    font-size:12px !important;
    padding: 0px !important;

}
.addTagContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.siteFilterSwitch{
    font-size: 10px !important;
}