
.tagsFilter{
    margin-bottom: 20px !important;
    border-radius: 10px !important;
}
.addTag{
    background-color: rgb(102, 102, 102) !important;
    border-radius: 0px !important;
    font-size: 11px !important;
    color: white !important;
    border-top-left-radius:5px !important;
    border-bottom-left-radius: 5px !important;
    padding: 5px !important;    
    margin-left: 20px !important;
}
.inputFilterStyleDark{
    border-bottom: 2px solid #764ee3 !important;
    margin-bottom:2px !important;

}
.addTagDark{
    font-size: 11px !important;
    color: white !important;
    padding: 5px !important;
    margin-bottom: 2px !important;
    background: #764ee3 !important;
    border-radius: 0px !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    margin-left: 20px !important;
}
.tagsContainer{
    direction: ltr;
    max-height: 200px;
    overflow-y: scroll;
}
.chipclass{
    margin : 3px 4px !important;
    font-size:12px !important;
    padding: 0px !important;

}
.addTagContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.siteFilterSwitch{
    font-size: 10px !important;
}
.darkInputThem .MuiInputBase-root{
    color: white !important;
    font-size: 14px !important;
}
.chipDarkThem .MuiChip-root{
    background-color: #764ee3;
    color : #E8E4F1;      
    font-size: 10px;  
    height: 28px;
}
.chipDarkThem .MuiChip-root:focus{
    background-color: #8d6de6;
}
.chipDarkThem .MuiChip-deleteIcon{  
    color : #E8E4F1;
}
.chipDarkThem .MuiChip-deleteIcon:hover{
    color : #ebe6ffa9;
}