.DA6 {
    display: flex;
    margin-top:10px;
    height: auto;
    position: relative;
    justify-content: space-between;
}

@media screen and ( max-width : 686px ) {
    .DA6 {
        flex-direction: column;
    }
} 