.searchBoxKP{
    display: flex;
    box-shadow: 4px 4px 5px 1px rgba(214, 214, 214, 0.4) , -5px -5px 20px 1px rgba(214, 214, 214, 0.4);
    border-radius: 13px;
    margin-bottom: 1px;
}
.searchBoxKP input { 
    width: 400px;
    font-size: 13px;
    padding: 1px 15px;
    border-top-right-radius: 13px !important;
    border: none;
    outline: none;
    border-bottom-right-radius: 13px !important;
}
.searchBoxKP input::placeholder{
    color: grey;
    padding: 0px;
}
.searchBtnKPList{
    height: 32px !important;
    padding: 0px !important;
    width: 50px !important;
    background-color: #6276D4 !important;
    color: #D9E1FC !important;
    border-radius: 14px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.searchBoxKP input:focus ~ .searchBtnKPList{
    background-color: #50d890 !important;
}
.searchBtnKPList:hover{
    
}