.searchBoxMP{
    display: flex;
    box-shadow: 1px 1px 10px 1px #2729492c !important;
    border-radius: 13px;
    margin-bottom: 1px;
}
.searchBoxMP input { 
    width: 400px;
    font-size: 13px;
    padding: 1px 15px;
    border-top-right-radius: 13px !important;
    border: none;
    outline: none;
    border-bottom-right-radius: 13px !important;
}
.searchBoxMP input::placeholder{
    color: grey;
    padding: 0px;
}
.searchBtnKPList{
    height: 32px !important;
    padding: 0px !important;
    width: 50px !important;
    background-color: #6276D4 !important;
    color: #D9E1FC !important;
    border-radius: 14px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.searchBoxMP input:focus ~ .searchBtnKPList{
    background-color: #50d890 !important;
}
@media screen and (max-width: 1050px) { 
    .searchBoxMP input{
        width: 250px;
    }
    .searchBoxMP{
        margin-top: 3px;
    }
    .searchBtnKPList{
        
        height: 29px !important;
        width: 40px !important;
    }
    .searchBoxMP{
        box-shadow : 0.5px 0.5px 16px 0px #bdbdbd10 !important;
    }
    
}

@media screen and (max-width: 720px) {
    .searchBoxMP input{
        width: 200px;
        font-size: 10px;
    }
    .searchBtnKPList{
        
        height: 25px !important;
        width: 34px !important;
    }
}

@media screen and (max-width: 520px) {
    .searchBoxMP input{
        width: 170px;
        font-size: 10px;
    }
    .searchBtnKPList{   
        height: 20px !important;
        width: 25px !important;
        font-size: 10px !important  ;
    }
    
}