.DP_Chart{
    flex:0.68;
    background-color: #272E48;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.DP_ChartFilters {
    flex:0.2;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin:4px 0px;
}
.DP_CTimeFilters {
    display: flex;
    flex:0.13;
    padding:5px;
    justify-content: space-between;
    align-items: center;
    color:white;
    flex-direction: row-reverse;
}
.DP_CContentFilter {
    flex:0.87;
    display: flex;
    justify-content: left;
    align-items: center;
}
.DP_CTimeFilter {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px;
    color:#364B66;
    border-radius: 5px;
    cursor: pointer;
}
.DP_CTimeFilterActive {
    background-color: #313A57;
    color:white;
}
.DP_ChartSide {
    flex:0.8;
    display: flex;
}
.DP_ChartContainer {
    flex: 0.87;

}
.DP_ChartSidebar {
    margin-bottom: 50px;
    flex: 0.13;
    background-color:#313A57 ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:10px;
    min-width: 200px;
}

.DP_SideBarSearch {
    margin-top:10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DP_SideBarSearch > input {
    background-color: transparent;
    outline: transparent;
    border:none
}
.DP_SourceNumber {
    margin-right:auto;
    margin-top:2px;

}
.DP_SidebarSources {
    border-top: 1px solid rgba(255, 255, 255, 0.096);
}
.DP_SidebarSource {
    display: flex;
    align-items: center;
    padding:9px 0px;
    justify-content: space-between;
    border-bottom:2px dashed rgba(255, 255, 255, 0.096);
    opacity: 0.4;
}
.DP_SidebarSource:hover {
    opacity: 0.7;
}
.DP_SidebarSActive {
    opacity: 1;
}
.DP_SidebarSActive:hover{
    opacity: 1;
}
.DP_SidebarSource > span {
    color:rgba(255, 255, 255, 0.664);
    font-size:10px;
    margin-right:5px;
}
.DP_SidebarSourceTitle {
    display: flex;
    align-items: center;
    color:rgba(255, 255, 255, 0.664);
}
.DP_SidebarSourceTitle > span {
    margin-right:5px;
    font-size:10px;
}
.input-container{
	position:relative;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	

}
.input-container input{ 
  border:0;
 
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:12px;
  color:#fff;
  
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
    right:0px;
	font-size:10px;
	
}
.DP_SearchIcon {
    font-size: 20px;
}
.DP_Icon {
    color: rgb(255, 187, 0);
    border-radius: 3px;
    width: 20px;
    height: 20px;
    padding:1.5px;
}
.DP_TelegramIcon {
    color: rgb(0, 238, 255);
    font-size:8px;
}
.DP_InstagramIcon {
    color: rgb(252, 133, 252);
}
.DP_TwitterIcon {
    color: rgb(0, 174, 255);
}
.DP_PaperIcon {
    color:rgb(156, 236, 176);
}
.DP_SheypoorIcon {
    color: rgb(0, 132, 255);
}
.transparentItem {
    background-color: transparent !important;
}
.MOSheypoorBack {
    background-color: rgb(0, 132, 255);;
}

.DP_CContentFilter {
    display: flex;
}
.DP_SelectBox {
    width: 120px;
    margin-right:10px;
    color: rgb(50, 15, 95);

}
.DP_DateInput {
    outline: none;
    border:none;
    box-shadow: none;
    background-color: #111d4469;
    color:white;
    padding:4px 18px;
    text-align: right;
    border-radius: 5px;
    font-size:10px;
    margin-top:8px;
    box-shadow: 2px 2px 1px 1px rgba(18, 17, 97, 0.253);
    padding-top:8px;
}
.DP_DateInput2 {
    margin-bottom: 7px;
}
.DP_DateInput:focus {
    outline: none;
    border: none;
}
.DP_DateInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: grey;
    text-align: right;
    margin:0px;
    padding:0px;
    width: 100%;
    font-size: 13px;
  }
  .DP_DateInput::-moz-placeholder { /* Firefox 19+ */
    color: grey;
    text-align: right;
    margin:0px;
    padding:0px;
    width: 100%;
    font-size: 13px;
  }
  .DP_DateInput:-ms-input-placeholder { /* IE 10+ */
    color: grey;
    text-align: right;
    margin:0px;
    padding:0px;
    width: 100%;
    font-size: 13px;
  }
  .DP_DateInput:-moz-placeholder { /* Firefox 18- */
    color: grey;
    text-align: right;
    margin:0px;
    padding:0px;
    width: 100%;
    font-size: 13px;
  }
  .DP_DatePick {
    display: block;
  }
  .DP_DatePickContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
  }
  .DP_DatePickTitle {
      font-size: 10px;
      color:rgba(255, 255, 255, 0.541);
  }
  .MOPicDataBack {
      background-color: #272E48 !important;
  }

.DP_TimePickContainer{
    direction: ltr;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DP_TimePick {
    position:absolute;
    right:200px;
    top:100px;
    z-index: 10003;

}

.DP_TimePickerBButtom {
    color:grey;
    border: 1px solid rgba(173, 173, 173, 0.267);
    cursor:pointer;
    font-family: 'Shabnam';
    font-size:14px;
    transition: all 0.1s ease;
}
.DP_TimePickerBButtom:hover {
    color:rgb(63, 63, 63);
    background-color: azure;
    transition: all 0.1s ease;
}

.DP_SelectBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:40px;
    margin-left:7px;
}
.DP_SelectBoxContainer > span {
    font-family: 'Shabnam';
    font-size:12px;
    font-weight: bold;
    color:#63738f
}
.DP_SelectPlaceHolder {
    font-family: 'Shabnam';
    font-size: 10px;
}
.DP_ChartRightFilters {
    display: flex;
    justify-content: center;
    align-items: center;
}
.DP_ChartResIcon {
    display: none;
    color:white;
    background-color: #313A57;
    border-radius:5px;
    padding:1px 6px;
}
.DP_Drawer {
    background-color: transparent !important;
}
.DP_DownloadPng {
    display: none;
}
.DP_TimePickDrawer {
    position:absolute;
    top:10px;
    right:20px;
    z-index: 100000000;
    direction: ltr;
}

  @media screen and (max-width : 655px) {
        .DP_ChartSidebar {
            display: none;
        }
        .DP_ChartContainer {
            flex:1;
        }
        .DP_ChartSidebarDrawer {
            display: block;
            padding-top:40px;
            flex:0.3;
            width:250px;
        }
        .DP_ChartResIcon {
            display: inline;
        }
        .DP_SelectBoxContainer > span {
            display: none;
        }
  }

@media screen and (max-width : 495px) {
    .DP_CContentFilter {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .DP_SelectBoxContainer {
        margin-bottom: 5px;
    }
    .DP_ChartRightFilters {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-between;

    }
    .DP_ChartResIcon {
        margin-right:11px;
        margin-bottom: 10px;
        font-size: 18px;
    }
}