.ModalPost_image {
    width: 300px;
    height: 140px;
}
.ModalPost_text {
    font-size: 10px;
}
.ModalPost_title {
    font-size: 20px;
}

.ModalPost2 {
    height: 80% !important;
    margin: auto auto;
    width: 65%;
    padding: 0px !important;
}
.modalBase{
    display: flex;
    direction: ltr;
}
.graphsRss{
    flex: 0.5;
    height: 100%;
    width: 100%;
}
.PostContentRss{
    flex: 0.5;
    direction: rtl;
}
.graphsRss{
    display: flex;
    flex-direction: column;
}
.categoriesChart{
    flex:0.5;
}
.PieChartRss{
    flex: 0.5;
}
.PostImage{
    width: 100%;
    position: relative;
}
.PostImage img{
    border-radius: 5px;
    display: block;
    box-shadow: 0.0px 1.0px 2px 0.3px rgb(224, 224, 224);
}
.tites{
    direction: rtl;
    position: absolute;
    top: 0;
    color: white;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.514);
    opacity: 1;
    border-radius: 5px;
}
.tites p{
    font-size: 15px;
    margin: 2px 5px;
}
.tites h3{
    padding:0px 10px;
    text-decoration: underline;
}
.PostImage img:hover .tites{
    opacity: 1;
    transition: opacity ease-out 0.5s;
}