.ModalPost_image {
    width: 300px;
    height: 140px;
}
.ModalPost_text {
    font-size: 10px;
}
.ModalPost_title {
    font-size: 20px;
}

.ModalPost2 {
    max-width: 1000px ;
    max-height: 570px ;
    height: 85%;
    margin: auto auto;
    width: 65%;
    padding: 0px !important;
}
.ModalPost2:focus{
    border: none;
    outline: none;
}
.modalBase{
    display: flex;
    direction: ltr;
}
.graphsRss{
    flex: 0.6;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.graphsRss::-webkit-scrollbar {
    display: none;
  }
.PostContentRss{
    flex: 0.4;
    display: flex;
    flex-direction: column;
    position: relative;
    direction: rtl;
    border-left: solid 1px rgb(226, 226, 226);
    overflow-y: hidden;
    text-align: right;
}
.graphsRss{
    display: flex;
    flex-direction: column;
}
.categoriesChart{
    flex:0.5;
    margin: 0px;
    padding: 0px 20px;
}
.PieChartRss{
    align-items: center;
    display: flex;
}
.tites{
    direction: rtl;
    position: absolute;
    top: 0;
    color: white;
    right: 0;
    text-align: right;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.514);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    transition: opacity 0.3s ease-in;
}
.tites:hover{
    transition: opacity 0.3s ease-out;
    opacity: 1;
}
.tites p{
    font-size: 15px;
    text-decoration: none;
    margin: 2px 5px;
}
.tites h3{
    padding:0px 10px;
    font-size: 17px;
    font-family: shabnam;
    font-weight: 500;
}
.titles:hover .tites{
    opacity: 1;
    transition: opacity ease-out 0.5s;
}
.postContent{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: auto;
    flex: 0.7;
    padding : 20px;
    font-size: 15px;
    padding-bottom: 0px;
    height: 100%;
    overflow-y: hidden;
}
.hashtags{
    display: flex;
    gap: 4px 0px;
    margin-top:25px;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-right:22.5px;
    align-items: center;
}
.postRssFooter{ 
    flex: 0.3;
    background-color: white;
    left: 0;
    right: 0;
}
.postRssFooter p{
    margin: 10px;
    padding: 3px;
}

.lineBet{
    color :grey;
    width: 88%;
    opacity: 0.7;
    border-bottom: none;
}
.publishDatePost{
    padding:0px 4px;
    font-size: 13px !important;
    text-decoration: underline !important;
    margin:0px;
    margin-bottom: 0px;
}
.textRssPost{
    font-size: 13px;
    margin: 0px;
    padding:0px;
}
.textAreaRss{
    overflow-y: scroll;
    flex : 0.5;
    height: 400px;
    padding : 10px 3px;
}
.textAreaRss::-webkit-scrollbar {
    width: 5px;
  }

.PostImage{
    width: 100%;
    position: relative;
    border-radius: 3px;

    box-shadow: 0.0px 1.0px 2px 0.3px rgb(168, 166, 166);
    flex : 0.5;
}
.PostImage img{
    height: 100%;
    width: 100%;
    object-fit: fill  !important;
}
.keywords{
    margin-right:12.5px;
    margin-top: 10px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: right;

}
.keywords > p {
    flex:0.25;

}

.keywords_tags {
    display: flex;
    align-items: center;
    flex:0.75;
    justify-content: right;
 
}
.keywords .HashtagDiv {
    margin-right: 5px;
}
@media screen and (max-width : 1500px) {
    .ModalPost2{
        width: 74%;
    }
}
@media screen and (max-width : 1300px) {
    .ModalPost2{
        width: 80%;
    }
}

@media screen and (max-width : 1200px) {
    .ModalPost2{
        width: 90%;
    }
}

@media screen and (max-width : 1050px) {
    .ModalPost2{
        width: 98%;
    }
}