.PostHashtags {
    margin-right :7px;
    display: flex;
    width: 70%;
}
.PostHashtags > * {
    margin-left:5px;
}
@media screen and (max-width : 487px) {
    .PostHashtags {
        width: 46%;
    }
}