.Post{
    width: 266px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    margin-bottom: 12px;
    margin-top:0px;
    position: relative;
}


.Post_top_green {
    background-color: rgba(13, 238, 13, 0.733);
    width: 100%;
    height: 6px;
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px;
}

.Post_top_red {
    background-color: rgba(255, 6, 6, 0.733);
    width: 100%;
    height: 6px;
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px;
}
/*.Post_image > img {
    width: 100%;
}
.Post_container{
    font-size:13px;
    padding-left:5px;
    padding-right:5px;

}
.Post_container a {
    text-decoration: none;
}
.Post_footer {
    padding-right:5px;
}*/
.Post_news_text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top:5px;
    font-size: 12px !important;

    
}


.Post_title {
    display: flex;
    align-items:center;
    border-bottom: 2px solid #06f306;
    padding-top :auto;
    padding-bottom: 7px;   
    height: 45px;
    font-size : 13.5px;
}
.Post_card {
   
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;

}
.postBody {
    height: 100% !important;
    display: grid !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 0px !important;

}
.CardContent{
    padding: 0px 10px !important;
    margin-top:5px !important;
}
.photo{
    border-radius: 0px;
}

.Post_border_red {
    border-bottom-color :rgb(224, 5, 5) !important;
}
.Post_border_green {
    border-bottom-color :rgb(5, 172, 5) !important;
}
.PostGrid_HashtagsContainer {
    display: flex;
    padding : 0px 10px;
    border: 1px solid rgb(236, 235, 235);
    border-right:none;
    border-left:none;
}

.Post_footer {
    display: flex;
    align-items: center;
    direction: rtl;
    justify-content: right;
    width: 86%;
    margin : 0px auto;
    margin-top:3px;
    flex: 1;
    border-radius: 10px;
    padding-right:2px;
}
.Post_footer_date {
    display: flex;
    font-size: 11px;
    flex:0.4;
    justify-content: left;
    align-items: center;
    padding-top:7px;
    display: none;
  }
.Post_footer > p {
    font-family: Shabnam;
    font-size:9.5px;

}

.Hashtags2 {
    display: flex;
    align-items: center;
    margin-right:12px;
    padding: 7px 0px;
}
.Hashtags2 > p {
    font-size: 12px;
}

.Hashtags2 > * {
    margin-left:6px;
}



@media screen and (max-width : 1380px) {
    .Post_card {
        width:245px !important;
        transition: width 2s ease-in-out ;
        background-color: red;
    }
    .Post {
        width: 245px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}


@media screen and (max-width : 1279px) {
    .Post_card {
      width: 285px !important;
    }
    .Post {
        width: 285px;
    }
    .PostGrid_image {
        height: 160px !important;
    }
}

@media screen and (max-width : 1190px) {
    .Post_card {
      width: 265px !important;
    }
    .Post {
        width: 265px;
    }
    .PostGrid_image {
        height: 160px !important;
    }
}

@media screen and (max-width : 1119px) {
    .Post_card {
        width:245px !important;
    }
    .Post {
        width: 245px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}


@media screen and (max-width : 1030px) {
    .Post_card {
      width: 298px !important;
    }
    .Post {
        width: 298px;
    }
    .PostGrid_image {
        height: 160px !important;
    }
}


@media screen and (max-width : 940px) {
    .Post_card {
        width:268px !important;
        transition: width 2s ease ;
        background-color: red;
    }
    .Post {
        width: 268px;
    }
}
@media screen and (max-width : 853px) {
    .Post_card {
        width:245px !important;
    }
    .Post {
        width: 245px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
    .PostGrid_image {
        height: 140px !important;
    }
}


@media screen and (max-width : 790px) {
    .Post_card {
      width: 212px !important;
    }
    .Post {
        width: 212px;
    }
    .Post_footer {
        display: none !important;
    }
    .PostGrid_image {
        height: 140px !important;
    }
    .Post_title {
        font-size: 12px !important;
    }
    .Hashtag2_lastchild{
        display: none;
    }
    .Hashtags2 span{
        font-size: 7px !important;
    }
}
@media screen and (max-width : 690px) {
    .Post_card {
      width: 299px !important;
    }
    .Post {
        width: 299px;
        margin-bottom: 20px !important;
    }
    .PostGrid_image {
        height: 160px !important;
    }
    .Post_title {
        font-size: 14px !important;
    }
    .Post_footer {
        display:flex !important;
    }
    .Hashtags2 span{
        font-size: 9px !important;
    }
}
@media screen and (max-width : 650px) {
    .Post_card {
        width:280px !important;
    }
    .Post {
        width: 280px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}
@media screen and (max-width : 608px) {
    .Post_card {
        width:260px !important;
    }
    .Post {
        width: 260px;
        margin-bottom: 15px !important;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}
@media screen and (max-width : 565px) {
        .Post_card {
            width: 240px !important;
            height: 330px !important;
          }
          .Post {
              width: 240px;
          }
          .Post_footer {
              display: none !important;
          }
          .PostGrid_image {
              height: 140px !important;
          }
          .Post_title {
              font-size: 12px !important;
          }
          .Hashtags2 span{
            font-size: 8px !important;
        }
}
@media screen and (max-width : 527px) {
    .Post_card {
        width: 219px !important;
      }
      .Post {
          width: 219px;
      }
      .Post_footer {
          display: none !important;
      }
      .PostGrid_image {
          height: 140px !important;
      }
      .Post_title {
          font-size: 12px !important;
      }
      .Hashtags2 span{
        font-size: 7px !important;
    }
}

@media screen and (max-width : 487px) {
    .Post_card {
      width: 100% !important;
      height: auto !important;
    }
    .Post {
        width: 100%;
        margin-bottom: 20px !important;
    }
    .PostGrid_image {
        height: 210px !important;
    }
    .Post_title {
        font-size: 14px !important;
        height: 57px;
    }
    .Post_footer {
        display:flex !important;
    }
    .Post_footer_date {
        display:inline;
        margin-left:2px ;
        margin-right:auto;
        font-size: 11px !important;
    }
    .Post_news_text {
        -webkit-line-clamp: 5;  
    }
    .Post_footer  {
        width: 92%;
    }
    .Hashtags2 span{
        font-size: 10px !important;
    }
}

@media screen and (max-width : 430px) {
    .Post_news_text {
        -webkit-line-clamp: 4; 
    }
}
@media screen and (max-width : 390px) {
    .Post_news_text {
        -webkit-line-clamp: 3; 
    }
    .PostGrid_image {
        height: 180px !important;
    }
}
@media screen and (max-width : 371px) {
    .Post_footer_date {
        display: none;
    }
}

.PostGrid_site{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    top:128px;
    right:10px;
    color:white;
    font-family: "Shabnam";
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 4px;
    padding : 0px 4px;
    height: 22px;

}
.PostGrid_site > p {
    margin-right:3px;
    font-size: 10px;
}