.PostTags {
    display: flex;
    margin-top:10px;
    margin-bottom: 12px;
    padding: 0px 10px;
}

@media screen and (max-width : 1380px) {
    .PostTags_lastchild {
        display: none;
    }
}