.Post{
    width: 266px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    margin-bottom: 12px;
    margin-top:0px;
    
}

@media screen and (max-width : 1380px) {
    .Post_card {
        width:245px !important;
        transition: width 2s ease-in-out ;
        background-color: red;
    }
    .Post {
        width: 245px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}


@media screen and (max-width : 1279px) {
    .Post_card {
      width: 285px !important;
    }
    .Post {
        width: 285px;
    }
    .PostGrid_image {
        height: 160px !important;
    }
}

@media screen and (max-width : 1190px) {
    .Post_card {
      width: 265px !important;
    }
    .Post {
        width: 265px;
    }
    .PostGrid_image {
        height: 160px !important;
    }
}

@media screen and (max-width : 1119px) {
    .Post_card {
        width:245px !important;
    }
    .Post {
        width: 245px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}


@media screen and (max-width : 1030px) {
    .Post_card {
      width: 298px !important;
    }
    .Post {
        width: 298px;
    }
    .PostGrid_image {
        height: 160px !important;
    }
}


@media screen and (max-width : 940px) {
    .Post_card {
        width:268px !important;
        transition: width 2s ease ;
        background-color: red;
    }
    .Post {
        width: 268px;
    }
}
@media screen and (max-width : 853px) {
    .Post_card {
        width:245px !important;
    }
    .Post {
        width: 245px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
    .PostGrid_image {
        height: 140px !important;
    }
}


@media screen and (max-width : 790px) {
    .Post_card {
      width: 212px !important;
    }
    .Post {
        width: 212px;
    }
    .Post_footer {
        display: none !important;
    }
    .PostGrid_image {
        height: 140px !important;
    }
    .Post_title {
        font-size: 12px !important;
    }
}
@media screen and (max-width : 690px) {
    .Post_card {
      width: 299px !important;
    }
    .Post {
        width: 299px;
        margin-bottom: 20px !important;
    }
    .PostGrid_image {
        height: 160px !important;
    }
    .Post_title {
        font-size: 14px !important;
    }
    .Post_footer {
        display:flex !important;
    }
}
@media screen and (max-width : 650px) {
    .Post_card {
        width:280px !important;
    }
    .Post {
        width: 280px;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}
@media screen and (max-width : 608px) {
    .Post_card {
        width:260px !important;
    }
    .Post {
        width: 260px;
        margin-bottom: 15px !important;
    }
    .Post_footer_title {
        font-size: 9.5px !important;
    }
}
@media screen and (max-width : 565px) {
        .Post_card {
            width: 240px !important;
          }
          .Post {
              width: 240px;
          }
          .Post_footer {
              display: none !important;
          }
          .PostGrid_image {
              height: 140px !important;
          }
          .Post_title {
              font-size: 12px !important;
          }
}
@media screen and (max-width : 527px) {
    .Post_card {
        width: 219px !important;
      }
      .Post {
          width: 219px;
      }
      .Post_footer {
          display: none !important;
      }
      .PostGrid_image {
          height: 140px !important;
      }
      .Post_title {
          font-size: 12px !important;
      }
}

@media screen and (max-width : 487px) {
    .Post_card {
      width: 100% !important;
    }
    .Post {
        width: 100%;
        margin-bottom: 20px !important;
    }
    .PostGrid_image {
        height: 200px !important;
    }
    .Post_title {
        font-size: 14px !important;
    }
    .Post_footer {
        display:flex !important;
    }
}


.Post_top_green {
    background-color: rgba(13, 238, 13, 0.733);
    width: 100%;
    height: 6px;
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px;
}

.Post_top_red {
    background-color: rgba(255, 6, 6, 0.733);
    width: 100%;
    height: 6px;
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px;
}
/*.Post_image > img {
    width: 100%;
}
.Post_container{
    font-size:13px;
    padding-left:5px;
    padding-right:5px;

}
.Post_container a {
    text-decoration: none;
}
.Post_footer {
    padding-right:5px;
}*/
.Post_news_text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top:5px;
    font-size: 12px !important;
    
}


.Post_title {
    border-bottom: 2px solid #06f306;
    padding-bottom: 7px;


}
.Post_card {
   
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;

}

.photo{
    border-radius: 0px;
}

.Post_border_red {
    border-bottom-color :rgb(224, 5, 5) !important;
}
.Post_border_green {
    border-bottom-color :rgb(5, 172, 5) !important;
}

.Post_footer {
    display: flex;
    align-items: center;
    direction: rtl;
    justify-content: right;
    width: 86%;
    margin : 0px auto;
    margin-top:3px;
}
.Post_footer > p {
    font-family: Shabnam;
    font-size:10px;

}
