.App {
    height: 100vh;
    direction: rtl !important;
    text-align: right;
    overflow-y:hidden ;
}
p {
    display: block;
    margin-top: 1em ;
    margin-bottom: 1em ;
    margin-left: 0;
    margin-right: 0 ;
}
*:focus {
    outline: none !important;
    border: none !important;
}