body {
  margin: 0;
  font-family: "Shabnam" ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Shabnam';
  src: local('Shabnam'), url(./fonts/Shabnam.ttf) format('truetype');
}
@font-face {
  font-family: 'Vazir';
  src: local('Vazir'), url(./fonts/Vazir.ttf) format('truetype');
}