.proSearch{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 49px;
    bottom: 0px;
    overflow-x: hidden;
}
.imageContainerPS{
    height:100%;
    overflow-x: hidden;
}
.imageContainerPS img{   
object-fit: cover;    
}
.imagestyle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0 , 0, 0.5 );
    color: white;
    text-align: center;
    padding: 0px;
    overflow-y: scroll;
}

.imagestyle h1{
    padding-top: 40px;
    font-size: 34px;
}
.toggleContainerSelect{
    margin: 10px auto;
    margin-top: 40px;
    width: 500px !important;
}
.typeOfSearchChoose{
    margin: 0px auto;
    margin-top: 10px;
    width: 800px !important;
}
.proSearchInput{
    margin: 0px auto;
    margin-top: 8px;
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    text-align: right;
    padding:5px 5px;
    transition: all ease-in 0.4s; 
}
.proSearchInput input{  
    margin :0px 0px;
    transition: all 0.4s ease-out;
    border: none ;
    width: 81%;
    margin-right: 15px;
    border-radius: none;
    background-color:transparent;
    font-size: 15px;
    font-family: vazir;
    height: 40px;
}
.proSearchInput:focus{
    outline: none;  
    border: none;
    transition: all ease-out 0.4s;
    box-shadow: 1px 1px 5px 1px rgba(37,159,251);
}
.searchButtonPs{
    position: absolute !important;
    left: 7px !important;
    border-radius: 30px !important;
    height: 33px !important;
    font-size: 17px !important;
    color: white !important;
    margin: 0px !important;
    padding: 0px !important;
    background-color:#764ee3 !important;
}
.searchButtonPs:disabled{
    background-color: #764ee371 !important;
}
.advancedProSearchDiv{
    background:linear-gradient( rgba(240, 248, 255, 0.178),rgba(240, 248, 255, 0.404));
    height: 320px;
    margin:3px auto;
    padding: 10px;
    margin-top: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 1000px;
    position: relative;
    border-radius: 15px;
}
.searchBtnPS{
    width: 200px !important;
    background-color: #764ee3 !important;
    color: white !important;
    font-size: 16px !important;
    margin-bottom: 30px !important;
    margin-top: 5px !important;
    border-radius: 20px !important;
}
.closeAdvancedSearch{
    position: absolute;
    right:7px;
    color: white;
    top:7px;
}
.closeBtnADv{
    background-color: rgba(0, 0, 0, 0.205) !important;
    color: rgba(255, 217, 0, 0.89) !important;
}
.advancedSearchOpenBtn{
    font-size: 13px !important;
    background-color: rgba(0, 0, 0, 0.205) !important;
    color: rgba(255, 217, 0, 0.89) !important;
    margin-top: 15px !important;
    margin-bottom: 10px !important;
    margin-right: 3px !important;
}
.advancedSearchOpenBtn span{
    margin-left: 3px;
}
.navBottonPS{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
}
.navBottonsAd{
    display: block !important;
    margin: auto !important;
    width: 100% !important;
}
.IconButtonPsADD{
    background-color: #764ee3 !important;
    color: white !important;
    width: 30px !important;
    height: 30px !important;
    padding: 5px !important;
    font-size: 14px !important;
    position: absolute !important;
    left: 7px !important;
}
.IconButtonPsADD:disabled{
    background-color: #855fe77a !important;
    color: #ffffff !important;
}
@media screen and (max-width: 1050px) { 
    .advancedProSearchDiv{
        width: 900px;
    }   
}
@media screen and (max-width : 950px) {
    .advancedProSearchDiv{
        width: 700px;
    }
}
@media screen and (max-width : 750px) {
    .advancedProSearchDiv{
        width: 580px;
        padding: 0px 5px;
    }
}
@media screen and (max-width : 600px) {
    .advancedProSearchDiv{
        width: 480px;
        padding: 0px 5px;
    }
}
@media screen and (max-width : 500px) {
    .advancedProSearchDiv{
        width: 400px;
        padding: 0px 5px;
    }
    .proSearchInput{
        width: 400px; 
    }
    .proSearchInput input{
        height: 30px;
        font-size: 12px;
    }
    .searchBtnPS{
        margin-bottom: 70px !important;
    }
    .imagestyle h1{
        font-size: 23px;
        padding-bottom: 20px;
    }
    .advancedSearchOpenBtn{
        font-size: 11px !important;
    }
}
@media screen and (max-width : 415px) {
    .advancedProSearchDiv{
        width: 360px;
        padding: 0px 5px;
    }
    .proSearchInput{
        width: 350px;
    }
    .proSearchInput input{
        height: 30px;
        font-size: 12px;
    }
}
@media screen and (max-width : 370px) {
    .advancedProSearchDiv{
        width: 340px;
        padding: 0px 5px;
    }
    .proSearchInput{
        width: 300px;
    }
    .proSearchInput input{
        height: 30px;
        font-size: 12px;
    }
}