.proSearch{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 49px;
    bottom: 0px;
}
.imageContainerPS{
    height: 100vh;
}
.imageContainerPS img{
    
object-fit: cover;    
}
.imagestyle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0 , 0, 0.5 );
    color: white;
    text-align: center;
    padding: 0px;
    overflow-y: scroll;
}

.imagestyle h1{
    padding-top: 40px;
    font-size: 34px;
}
.toggleContainerSelect{
    margin: 10px auto;
    margin-top: 40px;
    width: 500px !important;
}
.typeOfSearchChoose{
    margin: 0px auto;
    margin-top: 10px;
    width: 800px !important;
}
.proSearchInput{
    margin: 0px auto;
    margin-top: 8px;
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    text-align: right;
    padding:5px 5px;
    transition: all ease-in 0.4s; 
}
.proSearchInput input{  
    margin :0px 0px;
    border: none ;
    width: 81%;
    margin-right: 15px;
    border-radius: none;
    background-color:transparent;
    font-size: 15px;
    font-family: vazir;
    height: 40px;
}
.proSearchInput:focus{
    outline: none;  
    border: none;
    transition: all ease-out 0.4s;
    box-shadow: 1px 1px 5px 1px rgba(37,159,251);
}
.searchButtonPs{
    position: absolute !important;
    left: 7px !important;
    border-radius: 30px !important;
    height: 33px !important;
    font-size: 17px !important;
    color: white !important;
    margin: 0px !important;
    padding: 0px !important;
    background-color:#764ee3 !important;
}
.searchButtonPs:disabled{
    background-color: #764ee371 !important;
}
.advancedProSearchDiv{
    background:linear-gradient( rgba(240, 248, 255, 0.178),rgba(240, 248, 255, 0.404));
    height: 270px;
    margin:3px auto;
    padding: 10px;
    margin-top: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 1000px;
    border-radius: 15px;
}