.Filters{
    flex:0.2;
    overflow-y: scroll;
}
.Filters::-webkit-scrollbar {
    display: none;
  }
  .Filters {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-bottom: 10px;
  }
  @media screen and (max-width : 1279px) {
    .Filters {
      flex:0
    }
    
  }
