.SitesFilter{
    width: 100%;
    margin: 0px;
    padding:0px;
}
.siteFilterSwitch{
    width: 100% !important;
    padding :7px 0px !important;
}
.siteOption{
    width: 90% !important;
    padding : 0px !important
}